<% content_for :subnav do -%>
  <% @nav_class[:customize] = :current; @nav_class[:questions] = :current -%>
  <%= render :partial => "layouts/customize_nav" %>
<% end -%>

<div class="customize">
  <h1>Survey Questions</h1>

  <p>
    The Voter Registration and Pledge to Vote tools allow you to ask registrants up to two questions. These questions will display at the end of the Voter Registration process and the bottom of the Pledge to Vote sign up tool, and registrants are not required to answer the questions to complete the processes. We recommend using this feature to collect useful information for developing your voter outreach program. If you don't enter questions, no default questions will appear. You can update or edit your questions at any time.
  </p>
  <p>
    To add personalized survey questions, simply enter your text in the boxes below. If you have translations, enter them in the boxes. If the registrant has selected a non-English language, the applicable translation will appear.
  </p>
  <p class="extra_leading">
    We recommend asking questions that can be answered in a few words. For example:
  </p>
  <ul>
    <li>Is this your first time registering to vote?</li>
    <li>If you are in school, where do you go?</li>
    <li>How did you hear about <%= @partner.organization %>?</li>
  </ul>
<p>When you <%= link_to "download your data", statistics_partner_path(@partner)  %>, the 
answers the registrants provide will be included.</p>

<p>
Also note, below the inputs for the survey questions, you have the option to request volunteers for your program. Check the box to enable that option on the voter registration form. 
</p>
    

  <div id="survey_questions">
    <%= form_for @partner, :url => partner_questions_path(@partner) , :method => :put do |form| %>
      <%- if @partner.errors.count > 0 %>
        <div id="error_explanation">
          <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @partner.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <%- end %>
      <%- RockyConf.enabled_locales.each do |loc| %>
        <%- locale = loc.underscore %>
        <fieldset>
          <legend>Questions in <%= I18n.t('language_name', :locale=>locale)%> (<%= locale %>)</legend>
          <p><%= form.label "survey_question_1_#{locale}", "Question 1" %></p>
          <p><%= form.text_field "survey_question_1_#{locale}", :size => 90 %></p>
          <p><%= form.label "survey_question_2_#{locale}", "Question 2" %></p>
          <p><%= form.text_field "survey_question_2_#{locale}", :size => 90 %></p>
        </fieldset>
      
      <%- end %>
      <fieldset>
        <legend>Volunteering</legend>
        <p>
          <%- field_name = @partner.primary? ? :ask_for_volunteers : :partner_ask_for_volunteers %>
          <%= form.check_box field_name %>
          <%= form.label field_name, "Ask for volunteers for <strong>#{@partner.organization}</strong>".html_safe %>
          <% if @partner.organization.blank? %>
            &hellip; (you should fill in your organization name in your <%= link_to "profile", edit_partner_path(@partner)  %>)
          <% end %>
        </p>
      </fieldset>
      <%= partner_rollover_button("save", "Save") %>
    </div>
  <% end %>
</div>