#form_header
  .state-integration
    = render partial: 'state_registrants/pa/steps'

    %h1
      = t("states.custom.pa.#{params[:step]}_header").html_safe
      .sub-header= t("states.custom.pa.#{params[:step]}_subheader", default: '').html_safe

