- if @use_mobile_ui
  = render partial: 'state_registrants/header_mobile', locals: {percentage: 100}

%h1
  = I18n.t 'states.custom.pa.registration_complete'

.declaration-text
  = I18n.t('states.custom.pa.registration_complete_dialog_text').html_safe

- if @registrant.partner && !@registrant.partner.external_conversion_snippet.blank?
  = @registrant.partner.external_conversion_snippet.to_s.html_safe


= render "finishes/finish_iframe"


