- content_for :head do
  :javascript
    $(document).ready(function() {
      checkboxTogglesSet($('#state_registrants_pa_registrant_change_of_name'), $('#prev_name_set'), $('#prev_name_rule'));
      checkboxTogglesSet($('#state_registrants_pa_registrant_has_mailing_address'), $('#mailing_address_set'));
      checkboxTogglesSet($('#state_registrants_pa_registrant_change_of_address'), $('#prev_address_set'));
      $('#javascript_disabled').remove();
      
      function togglePreviousAddressCounty() {
        if ($("#state_registrants_pa_registrant_previous_state").val()=="PA") {
          $(".registrant-form__prev-county__line").show();
        } else {
          $(".registrant-form__prev-county__line").hide();
        }
      }
      
      $("#state_registrants_pa_registrant_previous_state").change(togglePreviousAddressCounty)
      togglePreviousAddressCounty();
      
      function toggleOtherParty() {
        var party = $("#state_registrants_pa_registrant_party").val().toLowerCase()
        if (party=='other' || party=='otros') {
          $("#other_party_set").show();          
        } else {
          $("#other_party_set").hide();
        }        
      }
      
      $("#state_registrants_pa_registrant_party").change(toggleOtherParty)
      toggleOtherParty();
      
    });


= form_for(@registrant, url: update_state_registrant_path(@registrant.to_param,controller.current_state)) do |form|

  = render partial: 'state_registrants/locale_selector', locals: {form: form }

  = render partial: 'state_registrants/pa/header'
  
  
  = render partial: 'step2/name', locals: {form: form}
  %fieldset.no_border
    = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :change_of_name, class_name: "registrant-form__change-of-name__line", required: false, tooltip: :previous_name}

  %fieldset#prev_name_set
    = hidden_field_tag "javascript_disabled", "1"
    %legend
      %span= I18n.t('txt.registration.previous_name')
    %ul.stacked
      = field_li(form, :previous_first_name, {required: true, label_options: nil, field_options: {size: 15}, li_options: {class: 'registrant-form__prev-first-name__line'} , skip_tooltip: true })
      = field_li(form, :previous_middle_name, {required: false, label_options: nil, li_options: {class: 'registrant-form__prev-middle-name__line'}, skip_tooltip: true })
      = field_li(form, :previous_last_name, {required: true, label_options: nil, field_options: {size: 15}, li_options: {class: 'registrant-form__prev-last-name__line'} , skip_tooltip: true })

  %br
  %ul.flat
    = render :partial=> "registrants/date_of_birth", :locals=>{:form=>form}
    

  = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_us_citizen, class_name: "registrant-form__us-citizen__line", required: true, require_accepted: true}
  
  = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_will_be_18, class_name: "registrant-form__will-be-18-by-election__line", required: true, require_accepted: true}
  



  
  %fieldset
    %legend
      %span= I18n.t('txt.registration.home_address') 
      = tooltip_tag :home_address
    %ul.stacked
      = field_li(form, :registration_address_1, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__home-address__line"}})
    %ul.stacked
      = field_li(form, :registration_address_2, {skip_tooltip: true,required: false, li_options: {class: "registrant-form__home-address__line"}})
    %ul.stacked
      = field_li(form, :registration_unit_type, {skip_tooltip: true,required: false, li_options: {class: "registrant-form__home-unit-type__line"}, select_options: StateRegistrants::PARegistrant::UNITS.collect{|k,v| [t("states.custom.pa.unit_type.#{k}").html_safe,k]}, field_options: {include_blank: true} })
      = field_li(form, :registration_unit_number, {skip_tooltip: true,required: false, li_options: {class: "registrant-form__home-unit-number__line"} })
    %ul.stacked
      = field_li(form, :registration_city, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__home-city__line"} })
      = field_li(form, :home_state_abbrev, {skip_tooltip: true,required: true, field_options: {disabled: true}, li_options: {class: "registrant-form__home-state-abbrev__line"} })
      = field_li(form, :registration_zip_code, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__home-zip-code__line"} })
    %ul.stacked
      = field_li(form, :registration_county, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__county__line"}, select_options: StateRegistrants::PARegistrant::COUNTIES.collect(&:titleize), field_options: {include_blank: true} })
    
    
  %fieldset.no_border
    = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :has_mailing_address, class_name: "registrant-form__has-mailing-address__line", required: false}
  
  
  %fieldset#mailing_address_set
    %legend
      %span= I18n.t('txt.registration.mailing_address') 
      = tooltip_tag :mailing_address
    %ul.stacked
      = field_li(form, :mailing_address, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__home-address__line"}})
    %ul.stacked
      = field_li(form, :mailing_city, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__home-city__line"} })
      = field_li(form, :mailing_state, {skip_tooltip: true,required: true, field_options: {}, li_options: {class: "registrant-form__home-state-abbrev__line"}, select_options: GeoState.all.collect {|s| s.abbreviation }, field_options: {include_blank: true}})
      = field_li(form, :mailing_zip_code, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__home-zip-code__line"} })
    
    
  %fieldset.no_border
    = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :change_of_address, class_name: "registrant-form__change-of-address__line", required: false}
  
  
  %fieldset#prev_address_set
    %legend
      %span= I18n.t('txt.registration.previous_address') 
    %ul.stacked
      = field_li(form, :previous_address, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__home-address__line"}})
    %ul.stacked
      = field_li(form, :previous_city, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__home-city__line"} })
      = field_li(form, :previous_state, {skip_tooltip: true,required: true, field_options: {}, li_options: {class: "registrant-form__home-state-abbrev__line"}, select_options: GeoState.all.collect {|s| s.abbreviation }, field_options: {include_blank: true}})
      = field_li(form, :previous_zip_code, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__home-zip-code__line"} })
    %ul.stacked
      = field_li(form, :previous_county, {skip_tooltip: true,required: true, li_options: {class: "registrant-form__prev-county__line"}, select_options: StateRegistrants::PARegistrant::COUNTIES.collect(&:titleize), field_options: {include_blank: true} })
  
  %fieldset.phone
    %ul.stacked
      = field_li(form, :phone, {skip_tooltip: true, required: false, li_options: {class: "registrant-form__phone__line"}})
      = field_li(form, :phone_type, {skip_tooltip: true, required: false, li_options: {class: "registrant-form__phone-type__line"}, select_options: @registrant.phone_types,field_options: {include_blank: true} })
      
    = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :opt_in_sms, class_name: "registrant-form__opt-in-sms_line", required: false, field_label: t('txt.registration.opt_in_sms', :organization => h("Rock the Vote")).html_safe}
    %span.compliance= t('txt.registration.opt_in_sms_compliance', organization: h("Rock the Vote"), short_code: RockyConf.sms_short_code, terms_url: RockyConf.terms_url, privacy_url: RockyConf.privacy_url).html_safe
    
    - if @registrant.partner.partner_sms_opt_in? && !@registrant.partner.primary?
      = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :partner_opt_in_sms, class_name: "registrant-form__partner-opt-in-sms_line", required: false, field_label: t('txt.registration.opt_in_sms', :organization=>h(@registrant.partner.organization)).html_safe }
      %span.compliance= t('txt.registration.opt_in_sms_compliance', organization: h(@registrant.partner.organization), short_code: @registrant.partner.short_code, terms_url: @registrant.partner.terms_url, privacy_url: @registrant.partner.privacy_url).html_safe
      
      
  - if @registrant.email.blank?
    %fieldset
      %ul.stacked
        = field_li(form, :email, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__email__line"}})
  
  
  %fieldset.no_border
    = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :opt_in_email, class_name: "registrant-form__opt-in-email_line", required: false, field_label: t('txt.registration.opt_in_email', :organization => h("Rock the Vote")).html_safe}
  
    - if @registrant.partner.partner_email_opt_in && !@registrant.partner.primary?
      = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :partner_opt_in_email, class_name: "registrant-form__partner-opt-in-email_line", required: false, field_label: t('txt.registration.opt_in_email', :organization=>h(@registrant.partner.organization)).html_safe }
  
    
  %br
  %br

  = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :change_of_party, class_name: "registrant-form__change-of-party__line", required: false}

  
  %ul.flat.party-dropdown
    = field_li(form, :party, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__party__line"}, select_options: @registrant.state_parties , field_options: {include_blank: true} })
    
  %fieldset#other_party_set
    %ul.flat.other-party
      = field_li(form, :other_party, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__other-party__line"}})
    
  
  %ul.flat.race-dropdown
    = field_li(form, :race, {skip_tooltip: true, required: false, li_options: {class: "registrant-form__race__line"}, select_options: @registrant.races, field_options: {include_blank: true} })
    

  = render :partial=>'registrants/survey_and_volunteer', :locals=>{:form=>form}

  = rollover_button(:next_step, I18n.t('txt.button.submit').html_safe)  
  .back
    = link_to t('txt.button.back').html_safe, registrant_path(@registrant.registrant)
    
    
