= form_for(@registrant, url: update_state_registrant_path(@registrant.to_param, controller.current_state)) do |form|
  = render partial: 'state_registrants/locale_selector', locals: {form: form }
  
  = render partial: 'state_registrants/pa/header'
  

  .review            
  
    .review__section
      .review__section__label 
        = t('txt.registration.name')
      .review__section__content
        = @registrant.name_title
        = @registrant.first_name
        = @registrant.middle_name
        = @registrant.last_name
        = @registrant.name_suffix
        = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_2'))
        
    - if @registrant.change_of_name?
      .review__section
        .review__section__label 
          = t('txt.registration.previous_name') 
        .review__section__content
          = @registrant.previous_first_name
          = @registrant.previous_middle_name
          = @registrant.previous_last_name
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_2'))
          
    .review__section
      .review__section__label
        = t('activerecord.attributes.state_registrants/pa_registrant.date_of_birth')
      .review__section__content
        = I18n.l @registrant.date_of_birth, format: :long
        = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_2'))
    
    .review__section
      .review__section__label 
        = t('txt.registration.home_address')
      .review__section__content
        = render partial: "state_registrants/pa/registration_address"
        = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_2'))
        
    - if @registrant.has_mailing_address?
      .review__section
        .review__section__label 
          = t('txt.registration.mailing_address') 
        .review__section__content
          = render partial: "state_registrants/pa/mailing_address"
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_2'))
          
    - if @registrant.previous_address?
      .review__section
        .review__section__label
          = t('txt.registration.previous_address')
        .review__section__content
          = @registrant.previous_address
          %br
          = "#{@registrant.previous_city}, #{@registrant.previous_state} #{@registrant.previous_zip_code}"
          %br
          = "#{@registrant.previous_county} County"
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_2'))
          
          
          
        

    .review__section
      .review__section__label
        = t('activerecord.attributes.state_registrants/pa_registrant.party')
      .review__section__content
        = @registrant.party.downcase == "other" ? @registrant.other_party : @registrant.party
        = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_3'))
        
      - if @registrant.change_of_party?
        .review__section__label
          = t('activerecord.attributes.state_registrants/pa_registrant.change_of_party')
        .review__section__content
          = @registrant.yes_no_localized(@registrant.change_of_party)
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_3'))
          
    - unless @registrant.race.blank?
      .review__section
        .review__section__label
          = t('activerecord.attributes.state_registrants/pa_registrant.race')
        .review__section__content
          = @registrant.race
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_3'))
          
    - if !@registrant.penndot_number.blank? && !@registrant.confirm_no_penndot_number?
      .review__section
        .review__section__label
          = t('activerecord.attributes.state_registrants/pa_registrant.penndot_number')
        .review__section__content
          = @registrant.penndot_number
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_3'))
    
    - if !@registrant.ssn4.blank? && !@registrant.confirm_no_dl_or_ssn?
      .review__section
        .review__section__label
          = t('activerecord.attributes.state_registrants/pa_registrant.ssn4')
        .review__section__content
          = @registrant.ssn4
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_3'))
    
    - if !@registrant.voter_signature_image.blank?
      .review__section
        .review__section__label
          = t('activerecord.attributes.state_registrants/pa_registrant.voter_signature_image')
        .review__section__content
          %img{src: @registrant.voter_signature_image}
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_3'))
      
          
    - unless @registrant.email.blank?
      .review__section
        .review__section__label
          = t('activerecord.attributes.registrants.email_address')
        .review__section__content
          = @registrant.email
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), registrant_path(@registrant))
    - unless @registrant.phone.blank?
      .review__section
        .review__section__label
          = t('activerecord.attributes.registrants.phone')
        .review__section__content
          = PhoneFormatter.process @registrant.phone
          = @registrant.phone_type
          = rollover_image_link(:edit, I18n.t('txt.button.edit'), update_state_registrant_path(@registrant.to_param, 'step_2'))
    = render 'state_registrants/pa/mail_in_request_review'      

  .declaration-text= t('states.custom.pa.declaration').html_safe
  = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_declaration, class_name: "registrant-form__has-assistant__line", required: true}
  
  = render partial: 'state_registrants/pa/mail_in_declaration', locals: {form: form}
  
  = rollover_button(:next_step, I18n.t('txt.button.state_online_registration', :state=>@registrant.home_state_abbrev))
  .back    
    = link_to t('txt.button.back').html_safe, update_state_registrant_path(@registrant.to_param, controller.prev_step)