= form_for @admin_session, url: admin_admin_sessions_path do |f|
  - if @admin_session.errors.any?
    %p Unable to login
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.submit "Submit"