<%- if @use_newui2020 %>
  <%= render partial: 'download_button_newui2020' %>
<%- else %>
<%-if @use_mobile_ui %>
  <%- completion = "85%"%>
  <div id="dynamic-progress-bar">
    <div class="filler" style="width: <%= completion %>"></div>
    <div class="content"><%= completion %></div>
  </div>
<%- end %>
<h1><%= I18n.t('txt.registration.download_header') %></h1>
<div class="download">
  <h2><%= I18n.t('txt.registration.instructions.download_2') %></h2>
  <p class="centered" onclick="window.open('<%=pdf_registrant_download_path(@registrant)%>','_blank'); window.location='<%= registrant_finish_path(@registrant) %>';"><%= rollover_image_link(:print, I18n.t('txt.button.download'), pdf_registrant_download_path(@registrant),
                            :target => "_blank") %></p>

  <%= I18n.t('txt.registration.instructions.download_3').html_safe %>

  <p>
    <%- if !@registrant.home_state.online_reg_enabled?(@registrant.locale) && !@registrant.home_state.use_state_flow?(@registrant)%>
      <%= I18n.t('txt.registration.instructions.state_not_enabled_download', state: @registrant.home_state.name) %>
    <%- elsif !@registrant.has_state_license? && @registrant.will_be_18_by_election? %>
      <%= I18n.t('txt.registration.instructions.no_id_download', state: @registrant.home_state.name) %>
    <% else %>
      <%= I18n.t('txt.registration.instructions.download', state: @registrant.home_state.name) %>
    <% end %>
  </p>
</div>


<div id="download_no_js">
  <div class="text">
    <p>After you have downloaded your registration form, you can continue on and let your friends know they can register to vote too.</p>
  </div>
  <p><%= rollover_image_link(:keep_going, I18n.t('txt.button.keep_going'), registrant_finish_path(@registrant)) %></p>
</div>
<%- end%>
