<% reset_cycle %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.tooltip').qtip({
  		style: {
  			classes: 'qtip-blue qtip-rounded'
  		},
      position: {
        at: 'right center',
        my: 'left bottom',
  			viewport: $(window)
      },
      hide: { fixed: true, delay: 300, effect: { length: 50 } }, // Hovering over tooltip keeps them visible
      show: { delay: 50, effect: { length: 50 } }
    })
  });
</script>

<div class="stats" id="stats_by_completion_date">
  <table cellspacing="0">
    <thead>
      <tr><th colspan="3">Completed Applications</th></tr>
      <tr><th class='small'></th><th class='small'>Completed App <span class='tooltip' id="tooltip-partner-completed-app" 
        title ='A user that has filled out all steps of the voter registration tool is considered "completed." Note - 
                These stats do not include those that chose to finish with a state that offers online registration.'><img src='/assets/partner/help_icon.gif'></span>
      
      </th><th class='small'>Downloaded PDF <span class='tooltip' id="tooltip-partner-completed-app" 
        title ='When a registrant clicks on the "print registration form" button or clicks on the email reminder during
               or following their completed application they are marked as "downloaded." Note - 
               These stats have only been counted as of September 8, 2015.'><img src='/assets/partner/help_icon.gif'></span>
      </th></tr>
    </thead>
    <tbody>
      <tr class="<%= cycle('even', 'odd') %>">
        <th>Within last 24 hours</th>
        <td><%= @stats_by_completion_date[:day_count][:completed] %></td>
        <td><%= @stats_by_completion_date[:day_count][:downloaded] %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <th>Within last 7 days</th>
        <td><%= @stats_by_completion_date[:week_count][:completed] %></td>
        <td><%= @stats_by_completion_date[:week_count][:downloaded] %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <th>Within last month</th>
        <td><%= @stats_by_completion_date[:month_count][:completed] %></td>
        <td><%= @stats_by_completion_date[:month_count][:downloaded] %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <th>Year to date</th>
        <td><%= @stats_by_completion_date[:year_to_date_count][:completed] %></td>
        <td><%= @stats_by_completion_date[:year_to_date_count][:downloaded] %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <th>Within last year</th>
        <td><%= @stats_by_completion_date[:year_count][:completed] %></td>
        <td><%= @stats_by_completion_date[:year_count][:downloaded] %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <th>Total</th>
        <td><%= @stats_by_completion_date[:total_count][:completed] %></td>
        <td><%= @stats_by_completion_date[:total_count][:downloaded] %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <th>Completion Rate</th>
        <td><%= "%.1f" % (@stats_by_completion_date[:percent_complete][:completed] * 100) %>%</td>
        <td><%= "%.1f" % (@stats_by_completion_date[:percent_complete][:downloaded] * 100) %>%</td>
      </tr>
    </tbody>
  </table>
</div>
