<style>
  .columns, #main .copy_html .columns {
    overflow:hidden;
    border:none;
    margin:0;
    padding:0;
  }
  .column, #main .copy_html .column {
    border:none;
    float: left;
    width: 320px;
    margin:0 0px 0 0;
    padding:0;
  }
  .column img {
    margin-left:30px;
  }
  #main .copy_html p.plain_text {
    text-align:left;
  }
</style>
<% content_for :subnav do -%>
  <% # @nav_class[:customize] = :current; -%> 
  <% @nav_class[:embed] = :current; -%>
  <%= render :partial => "layouts/customize_nav" %>
<% end -%>
<div class="customize">
  <h1 role="heading" aria-level="1">EMBED CODES AND SOCIAL SHARING</h1>
  
  <h2 role="heading" aria-level="2">Pick your embed code.</label></h2>
  <p>
   An embed code for each of Rock the Vote's civic tools is available below. 
   Copy the code and paste it into your website, blog or other web platform. 
   We recommend using this code as is: it will generate a "widget" that will keep 
   users on your website and lead to the highest completion rates. You can access 
   reports on these users by clicking the <%= link_to "Reports", statistics_partner_path(@partner) %> tab.
  </p>
  <p>You can include additional parameters with your embed codes. To view these parameters, go to the 
  <a href="https://www.rockthevote.org/programs-and-partner-resources/tech-for-civic-engagement/online-voter-registration-platform/partner-ovr-tool-faqs/" title="Getting Started with Your Voter Registration Tool">Civic Tech FAQs</a> 
  and look for "Ways to Use URL Parameters."
  </p>
  <p>
    Place the scripts tag in the &lt;body&gt; of your HTML where you want the interface to display.
  </p>

  <h3 role="heading" aria-level="3">Voter Registration embed code</h3>    
  <form class="copy_html" action="#" method="get" accept-charset="utf-8">       
    <div>
      <p><textarea name="js_src" readonly="readonly" rows="10" ><%= h @js_src_tag %>
<%= h @js_script %></textarea></p>      
      <p class="plain_text" style="display: none;">
        Other optional parameters include:
      </p>
      <p  style="display: none;"><textarea name="js_script" readonly="readonly" rows="10" >
source: "string",
tracking: "string",
state: "string", // 2-letter state abbreviation (capital letters) e.g. "CA"
home_zip_code: "string", // 5-digit zip code
email_address: "string",
first_name: "string",
last_name: "string",
locale: "string" // 2-letter locale code (lower case) e.g. "es"
      </textarea></p>
    </div>
  </form>
  
  <h3 role="heading" aria-level="3">Absentee Ballot Request tool embed code</h3>    
  <form class="copy_html" action="#" method="get" accept-charset="utf-8">       
    <div>
      <p><textarea name="js_src" readonly="readonly" rows="10" ><%= h @js_src_tag %>
<%= h @js_abr_script %></textarea></p>      
      <p class="plain_text"  style="display: none;">
        Other optional parameters include:
      </p>
      <p  style="display: none;"><textarea name="js_script" readonly="readonly" rows="10" >
source: "string",
tracking: "string",
state: "string", // 2-letter state abbreviation (capital letters) e.g. "CA"
zip: "string", // 5-digit zip code
email: "string",
first_name: "string",
last_name: "string"
      </textarea></p>
    </div>
  </form>

  <h3 role="heading" aria-level="3">Voter Status Lookup tool embed code</h3>    
  <form class="copy_html" action="#" method="get" accept-charset="utf-8">       
    <div>
      <p><textarea name="js_src" readonly="readonly" rows="10" ><%= h @js_src_tag %>
<%= h @js_lookup_script %></textarea></p>      
      <p class="plain_text"  style="display: none;">
        Other optional parameters include:
      </p>
      <p  style="display: none;"><textarea name="js_script" readonly="readonly" rows="10" >
source: "string",
tracking: "string",
state: "string", // 2-letter state abbreviation (capital letters) e.g. "CA"
zip: "string", // 5-digit zip code
email: "string",
first_name: "string",
last_name: "string"
      </textarea></p>
    </div>
  </form>

  <h3 role="heading" aria-level="3">Pledge to Vote tool embed code</h3>    
  <form class="copy_html" action="#" method="get" accept-charset="utf-8">       
    <div>
      <p><textarea name="js_src" readonly="readonly" rows="10" ><%= h @js_src_tag %>
<%= h @js_alert_request_script %></textarea></p>      
      <p class="plain_text"  style="display: none;">
        Other optional parameters include:
      </p>
      <p  style="display: none;"><textarea name="js_script" readonly="readonly" rows="10" >
source: "string",
tracking: "string",
state: "string", // 2-letter state abbreviation (capital letters) e.g. "CA"
email: "string",
first: "string",
last: "string"
      </textarea></p>
    </div>
  </form>

  <h3 role="heading" aria-level="3" style="display: none;">Ballot status tool embed code</h3>    
  <form class="copy_html" action="#" method="get" accept-charset="utf-8" style="display: none;">       
    <div>
      <p><textarea name="js_src" readonly="readonly" rows="10" ><%= h @js_src_tag %>
<%= h @js_bsc_script %></textarea></p>      
      <p class="plain_text"  style="display: none;">
        Other optional parameters include:
      </p>
      <p  style="display: none;"><textarea name="js_script" readonly="readonly" rows="10" >
source: "string",
tracking: "string",
email: "string",
first: "string",
last: "string",
zip: "string" // 5-digit zip code
      </textarea></p>
    </div>
  </form>
    
  <h2 aria-level="2" role="heading">Share your voter registration tool!</h2>

  
  <p>
  If you aren't embedding your voter registration tool in a website, blog or other platform, 
  you can always promote your voter registration tool by linking to it in another way.
  </p>
  
  <h3 arial-level="3" role="heading">Share your Voter Registration tool with a button or banner.</h3>
  
  <p>
  Go to the <%= link_to "Select Button", partner_widget_image_path(@partner) %>
  page to pick a button, and then copy the code below. 
  Buttons are available in English and Spanish. 
  You can change your button at any time by repeating these steps.
  </p>
  <form class="copy_html" action="#" method="get" accept-charset="utf-8">       
    <div>
      <p><textarea name="image_link_html" readonly="readonly" rows="5" ><%= h @image_link_html %></textarea></p>        
    </div>
  </form>  

  <h3 arial-level="3" role="heading">Share links directly to your tools:</h3>
  <p>
  Use this URL to promote your Voter Registration tool: <%= link_to "https://#{RockyConf.ui_url_host}#{new_registrant_path(:partner => @partner.id)}", "https://#{request.host}#{new_registrant_path(:partner => @partner.id)}", target: "_blank" %>
  </p>
  <p>
  Use this URL to promote your Absentee Ballot Request tool: <%= link_to "https://#{RockyConf.ui_url_host}/absentee/?partner=#{@partner.id}", "https://#{request.host}/absentee/?partner=#{@partner.id}", target: "_blank" %>
  </p>
  <p>
  Use this URL to promote your Voter Status Lookup tool: <%= link_to "https://#{RockyConf.ui_url_host}/lookup/?partner=#{@partner.id}", "https://#{request.host}/lookup/?partner=#{@partner.id}", target: "_blank" %>
  </p>
  <p>
  Use this URL to promote your Pledge to Vote tool: <%= link_to "https://#{RockyConf.ui_url_host}/pledge/?partner=#{@partner.id}", "https://#{request.host}/pledge/?partner=#{@partner.id}", target: "_blank" %>
  </p>



  <h2 role="heading" aria-level="2">Social Sharing:</h2>
  <p>
  Generate links for Facebook or X.
  </p>

   <h3 role="heading" aria-level="3">Facebook</h3>
   <form class="copy_html" action="#" method="get" accept-charset="utf-8">       
    <div>
      <p><textarea name="share_link_facebook" readonly="readonly" rows="6" ><%= h @share_link_facebook %></textarea></p>
    </div>
  </form>
  <h3 role="heading" aria-level="3">X</h3>
  <form class="copy_html" action="#" method="get" accept-charset="utf-8">       
    <div>
      <p><textarea name="share_link_twitter" readonly="readonly" rows="6" ><%= h @share_link_twitter %></textarea></p>
    </div>
  </form>
  
</div>
