- content_for :head do
  :javascript
    $(document).ready(function() {
      $('#javascript_disabled').remove();
      
    });


= form_for(@registrant, url: update_state_registrant_path(@registrant.to_param, controller.current_state)) do |form|
  = render partial: 'state_registrants/locale_selector', locals: {form: form }
  = render partial: 'state_registrants/mi/header'
  
  %h1
    %p.notice= I18n.t('states.custom.mi.skip_online_registration_no_dln', url: skip_state_flow_registrant_path(@registrant)).html_safe

      
  %br
  = render partial: 'state_registrants/mi/name', locals: {form: form}
  
    
  %ul.flat.dln
    = field_li(form, :dln, {skip_tooltip: true, required: true, required_message: I18n.t('states.custom.mi.custom_errors.dln', url: @registrant.skip_state_flow_registrant_path), li_options: {class: "registrant-form__dln__line"}, field_options: {autocomplete: "off", size: 12, maxlength: 26} })
    
  %ul.flat
    = render :partial=> "registrants/date_of_birth", :locals=>{:form=>form, skip_tooltip: true}

  %ul.flat.eye-color-dropdown
    = field_li(form, :eye_color_code, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__eye-color__line"}, select_options: @registrant.eye_colors, field_options: {include_blank: true} })

  %ul.flat.ssn
    = field_li(form, :ssn4, {skip_tooltip: true, required: true, required_message: I18n.t('states.custom.mi.custom_errors.ssn4', url: @registrant.skip_state_flow_registrant_path), li_options: {class: "registrant-form__ssn__line"}, field_options: {autocomplete: "off", type: :password, size: 4, maxlength: 4} })
      
    

  = rollover_button(:next_step, I18n.t('txt.button.submit').html_safe)    
  .back    
    = link_to t('txt.button.back').html_safe, update_state_registrant_path(@registrant.to_param, controller.prev_step)