%h2= t('txt.ballot_status_check.step_1_header')

<div style="display: none;" class="find-election-official">
%p= t('txt.ballot_status_check.find_election_official')
</div>

.intro-message
  = t('txt.ballot_status_check.step_1_instructions').html_safe

= form_for(@bsc) do |form|
  = form.hidden_field :partner_id
  = form.hidden_field :tracking_id
  = form.hidden_field :tracking_source
  - (@query_parameters || {}).keys.each do |qpk|
    = hidden_field_tag "query_parameters[#{qpk}]", @query_parameters[qpk]



  %fieldset
    %ul.stacked
      = field_li form, :first_name, required: true, skip_tooltip: true, li_options: {class: 'registrant-form__first-name__line'}
      = field_li form, :last_name, required: true, skip_tooltip: true, li_options: {class: 'registrant-form__last-name__line'}

  %ul.stacked
    = field_li form, :zip, required: true, skip_tooltip: true
  
  %ul.stacked
    = field_li form, :email, required: true, skip_tooltip: true, li_options: {class: 'registrant-form__email-address__line'}
    = field_li form, :phone, skip_tooltip: true, li_options: {class: 'registrant-form__phone__line'}
  
  = render :partial=> "registrants/email_opt_ins", :locals=>{:form=>form}
  = render :partial=> "registrants/phone_opt_ins", :locals=>{:form=>form}
  
  
  = rollover_button(:next_step, I18n.t('txt.button.next').html_safe)
