%h2{title: t('txt.ballot_status_check.step_1_header')}
  = t('txt.ballot_status_check.step_1_header')

%div{style: "display: none;", class: "find-election-official", title: t('txt.ballot_status_check.find_election_official')}
  %h1= t('txt.ballot_status_check.find_election_official')

.intro-message{title: t('txt.ballot_status_check.step_1_instructions')}
  = t('txt.ballot_status_check.step_1_instructions').html_safe

= form_for(@bsc, url: { action: "create", partner: @partner_id }) do |form|
  = form.hidden_field :partner_id
  = form.hidden_field :tracking_id
  = form.hidden_field :tracking_source
  - (@query_parameters || {}).keys.each do |qpk|
    = hidden_field_tag "query_parameters[#{qpk}]", @query_parameters[qpk]

  %fieldset
    %ul.stacked
      = field_li form, :first_name, required: true, skip_tooltip: true, li_options: {class: 'registrant-form__first-name__line', title: t('txt.registration.first_name')}, label_options: { class: 'registrant-form__label', text: t('txt.registration.first_name') + " " + content_tag(:span, '*', class: 'required')}
      = field_li form, :last_name, required: true, skip_tooltip: true, li_options: {class: 'registrant-form__last-name__line', title: t('txt.registration.last_name')}, label_options: { class: 'registrant-form__label', text: t('txt.registration.last_name') + " " + content_tag(:span, '*', class: 'required')}
      = field_li form, :zip, required: true, skip_tooltip: true, li_options: {class: 'registrant-form__zip__line', title: t('txt.registration.zip_code')}, label_options: { class: 'registrant-form__label', text: t('txt.registration.zip_code') + " " + content_tag(:span, '*', class: 'required')}

  %ul.stacked
    - form.object.errors.add(:zip, "Must be a valid ZIP code") if form.object.errors[:zip].any?

  %ul.stacked
    = field_li form, :email, required: true, skip_tooltip: true, li_options: { class: 'registrant-form__email-address__line', title: t('txt.registration.email_address')}, label_options: { class: 'registrant-form__label', text: t('txt.registration.email_address') + " " + content_tag(:span, '*', class: 'required') }, type: 'email'
    %li.registrant-form__phone__line
      %h3.registrant-form__label
        = form.label :phone, class: 'registrant-form__label', skip_tooltip: true, title: t('txt.registration.phone_number') do
          = t('label.phone')
      %div.registrant-form__phone__input-wrapper
        = form.phone_field :phone, class: 'registrant-form__phone__input', placeholder: '###-###-####', skip_tooltip: true, title: t('txt.registration.phone_number')
      - if form.object.errors[:phone].present?
        %span.error
          = form.object.errors.full_messages_for(:phone).join(", ")

  = render :partial=> "registrants/email_opt_ins", :locals=>{:form=>form}
  = render :partial=> "registrants/phone_opt_ins", :locals=>{:form=>form}

  = rollover_button(:next_step, I18n.t('txt.button.next').html_safe, title: t('txt.button.next'))

  %p= I18n.t('txt.privacy_policy_acceptance').html_safe
