- title_field ||= :prev_name_title 
- title_options ||= @registrant.titles 
- first_name_field ||= :prev_first_name 
- middle_name_field ||= :prev_middle_name 
- last_name_field ||= :prev_last_name 
- suffix_field ||= :prev_name_suffix 
- suffix_options ||= @registrant.suffixes 


%fieldset.block-selector#prev_name_set
  = checkbox_block_selector form, :change_of_name, I18n.t('activerecord.attributes.registrant.change_of_name'), :previous_name, {required: false}
  .block-selector__yes-selected
    %h3= I18n.t('txt.registration.previous_name') 
    %ul.stacked
      = field_li form, title_field, {li_options: {class: 'registrant-form__prev-name-title__line'}, required: true } 
      = field_li form, first_name_field, {li_options: {class: 'registrant-form__prev-first-name__line'}, required: true } 
      = field_li form, middle_name_field, {li_options: {class: 'registrant-form__prev-middle-name__line'}, required: false } 
      = field_li form, last_name_field, {li_options: {class: 'registrant-form__prev-last-name__line'}, required: true } 
      = field_li form, suffix_field, {li_options: {class: 'registrant-form__prev-middle-suffix'}, required: false } 
