<fieldset id="prev_address_set">
  <legend><%= I18n.t('txt.registration.previous_address') %></legend>
  <ul class="stacked">
    <li class="width_a registrant-form__prev-address__line">
      <h3><%= form.label :prev_address %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :prev_address, required: true %>
      <span class="error"><%= form.object.errors[:prev_address].join("\n") %></span>
  </li>
    <li class="width_b registrant-form__prev-unit__line">
      <h3><%= form.label :prev_unit %></h3>
      <%= field_div form, :prev_unit, {:size => 15} %>
      <span class="error"><%= form.object.errors[:prev_unit].join("\n") %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a registrant-form__prev-city__line">
      <h3><%= form.label :prev_city %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :prev_city, required: true %>
      <span class="error"><%= form.object.errors[:prev_city].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__prev-state-abbrev__line">
      <h3><%= form.label :prev_state_abbrev %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <div><%= form.select :prev_state_abbrev, GeoState.collection_for_select, required: true %></div>
      <span class="error"><%= form.object.errors[:prev_state_abbrev].join("\n") %></span>
    </li>
    <li class="width_c registrant-form__prev-zip-code__line">
      <h3><%= form.label :prev_zip_code %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :prev_zip_code, {:size => 10, :maxlength => 10, required: true} %>
      <span class="error"><%= form.object.errors[:prev_zip_code].join("\n") %></span>
    </li>
  </ul>
</fieldset>
