<%= hidden_field_tag "partner", @partner_id %>
<%= hidden_field_tag "locale", @locale %>
<%= hidden_field_tag "source", @source %>
<%= hidden_field_tag "tracking", @tracking %>
<%= hidden_field_tag "short_form", @short_form %>
<%= hidden_field_tag "collectemailaddress", @collect_email_address %>
<%= hidden_field_tag "shift_id", @shift_id %>
<%- (@query_parameters || {}).keys.each do |qpk| %>
  <%= hidden_field_tag "query_parameters[#{qpk}]", @query_parameters[qpk] %>
<%- end %>
<%- (@additional_registrant_params || {}).keys.each do |rpk| %>
  <%= hidden_field_tag "registrant[#{rpk}]", @additional_registrant_params[rpk] %>
<%- end %>
<%= form.hidden_field :under_18_ok, :value => 0 %>

<% content_for :head do %>
<script>
    $(document).ready(function() {
        $('#registrant_javascript_disabled').remove();
    });
</script>

<% end %>
<%= form.hidden_field :javascript_disabled %>
<%= form.hidden_field :is_fake %>

<%- if @registrant.collect_email_address? %>
  <ul class="flat registrant-form__email">
    <li class="width_f registrant-form__email__line">
      <h3 class='registrant-form__email__line__label'><%= form.label :email_address %><%- unless !@registrant.require_email_address?%><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span><%- end%></h3>
      
      <%= field_div form, :email_address, {class: 'registrant-form__email__line__input', autocomplete: 'email', type: 'email', required: @registrant.require_email_address? } %>
      <div class="tooltip registrant-form__email__line__tooltip"><%= tooltip_tag :email_address %></div>
      <span class="error registrant-form__email__line__error"><%= form.object.errors[:email_address].join("\n") %></span>
    </li>
  </ul>
<%- end %>
<ul class="flat registrant-form__home-zip">
  <li class="width_f registrant-form__home-zip__line">
    <h3 class='registrant-form__home-zip__line__label'><%= form.label :home_zip_code %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
    <%= field_div form, :home_zip_code, class: 'registrant-form__home-zip__line__input', autocomplete: 'postal-code', required: true %>
    <div class="tooltip registrant-form__home-zip__line__tooltip"><%= tooltip_tag :home_zip_code %></div>
    <span class="error registrant-form__home-zip__line__error"><%= form.object.errors[:home_zip_code].join("\n") %></span>
  </li>
  <%- if @registrant.use_short_form? %>
    <li class="registrant-form__home-zip__button">
      <%= rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) %>
    </li>  
  <%- end %>
  
</ul>
<%- if !@registrant.use_short_form? %>
 <ul class="flat">
   <%= render :partial=> "registrants/date_of_birth", :locals=>{:form=>form} %>
  </ul>

  <ul class="checkbox checkbox-step-1">
    <li class="spacer">&nbsp;</li>
    <li>
      <h3>
        <%= form.check_box :us_citizen %> <%= form.label :us_citizen %>
        <span class="error"><%= form.object.errors[:us_citizen].join("\n") %></span>
      </h3>
    </li>
  </ul>

  <ul class="checkbox checkbox-step-1">
    <li class="spacer">&nbsp;</li>
    <li>
      <h3>
        <%= form.check_box :has_state_license %> <%= form.label :has_state_license %>
        <span class="error"><%= form.object.errors[:has_state_license].join("\n") %></span>
      
      </h3>
    </li>
  </ul>

  <ul class="checkbox checkbox-step-1">
    <li class="spacer">&nbsp;</li>
    <li>
      <h3>
        <%= form.check_box :will_be_18_by_election %> <%= form.label :will_be_18_by_election %>
        <span class="error"><%= form.object.errors[:will_be_18_by_election].join("\n") %></span>
    
      </h3>
    </li>
  </ul>
  
  
  <ul class="checkbox checkbox-step-1">
    <li class="spacer">&nbsp;</li>
    <li>
      <h3>
        <%= form.check_box :first_registration %> <%= form.label :first_registration %>
        <span class="error"><%= form.object.errors[:first_registration].join("\n") %></span>
      </h3>
    </li>
  </ul>
<%- end %>