<fieldset>
  <legend><span><%= I18n.t('txt.registration.home_address') %></span><%= tooltip_tag :home_address %></legend>
  <ul class="stacked">
    <li class="width_a registrant-form__home-address__line">
      <h3><%= form.label :home_address %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :home_address, required: true, type: 'text' %>
      <span class="error"><%= form.object.errors[:home_address].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__home-unit__line">
      <h3><%= form.label :home_unit %></h3>
      <%= field_div form, :home_unit, type: 'text' %>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a registrant-form__home-city__line">
      <h3><%= form.label :home_city %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :home_city, required: true, type: 'text' %>
      <span class="error"><%= form.object.errors[:home_city].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__home-state-abbrev__line">
      <h3><%= form.label :home_state_abbrev %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :home_state_abbrev, :disabled => true %>
      <span class="error"><%= form.object.errors[:home_state_name].join("\n") %></span>
    </li>
    <li class="width_c registrant-form__home-zip-code__line">
      <h3><%= form.label :home_zip_code %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :home_zip_code, {:size => 8, required: true, type: 'text'} %>
      <span class="error"><%= form.object.errors[:home_zip_code].join("\n") %></span>
    </li>
  </ul>
</fieldset>

<fieldset class='no_border'>
  <ul class="checkbox">
    <li class="spacer">&nbsp;</li>
    <li class='registrant-form__has-mailing-address__line'>
      <h3><%= form.check_box :has_mailing_address %> <%= form.label :has_mailing_address %></h3>
    </li>
  </ul>
</fieldset>

<fieldset class='no_border'>
  <ul class="checkbox checkbox-with-tooltip">
    <li class="spacer">&nbsp;</li>
    <li class='registrant-form__change-of-address__line'>
      <h3><%= form.check_box :change_of_address %> <%= form.label :change_of_address, I18n.t('activerecord.attributes.registrant.change_of_address')%> <%= tooltip_tag(:previous_address) %></h3>
       
    </li>
  </ul>
</fieldset>