<fieldset id="mailing_address_set">
  <legend><span><%= I18n.t('txt.registration.mailing_address') %></span><%= tooltip_tag :mailing_address %></legend>
  <ul class="stacked">
    <li class="width_a registrant-form__mailing-address__line">
      <h3><%= form.label :mailing_address %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :mailing_address, required: true, type: 'text' %>
      <span class="error"><%= form.object.errors[:mailing_address].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__mailing-unit__line">
      <h3><%= form.label :mailing_unit %></h3>
      <%= field_div form, :mailing_unit, :size => 15, type: 'text' %>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a registrant-form__mailing-city__line">
      <h3><%= form.label :mailing_city %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :mailing_city, required: true, type: 'text' %>
      <span class="error"><%= form.object.errors[:mailing_city].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__mailing-state-abbrev__line">
      <h3><%= form.label :mailing_state_abbrev %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <div><%= form.select :mailing_state_abbrev, GeoState.collection_for_select, required: true %></div>
      <span class="error"><%= form.object.errors[:mailing_state_id].join("\n") %></span>
    </li>
    <li class="width_c registrant-form__mailing-zip-code__line">
      <h3><%= form.label :mailing_zip_code %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :mailing_zip_code, {:size => 10, :maxlength => 10, required: true, type: 'text' }%>
      <span class="error"><%= form.object.errors[:mailing_zip_code].join("\n") %></span>
    </li>
  </ul>
</fieldset>