<%- include_race_and_party ||= false %>
<%- include_date_of_birth ||= false %>
<%- id_size = include_race_and_party ? 35 : 20 %>
<%- if include_race_and_party %>
  <fieldset>
    <legend><%= I18n.t('txt.registration.identification_header') %></legend>
<%- end %>
    <ul class="flat">
      <li class=registrant-form__state-id-number__line'>
        <% if @registrant.has_state_license %>
        <h3><%= form.label :state_id_number %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
        <% else %>
        <h3><%= form.label :state_id_number, I18n.t('activerecord.attributes.registrant.id_no_state_id_number') %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
        <%-end %>
        <%= field_div form, :state_id_number, {:size => id_size, required: true} %>
        <span class="error"><%= form.object.errors[:state_id_number].join("\n") %></span>
      </li>
      <% if include_date_of_birth %>
        <%= render partial: 'registrants/date_of_birth', :locals=>{:form=>form} %>
      <%- end %>
    </ul>
    <div class="instructions instructions--state-id-number"><p><%= @state_id_tooltip %></p></div>

<%- if include_race_and_party %>
  <%= render :partial=> "registrants/race_and_party", :locals=>{:form=>form} %>
  </fieldset>
<%- else %>
  <hr/>
<%-end %>