- if !@registrant || @registrant.short_form?
  .intro-message
    %p=t('txt.registration.intro_message')
  
%h1= t('txt.registration.step_1_header')

#other_language_link
  - if @registrant.new_record?
    :javascript
      function followOtherLanguageLink() {
        window.location = $("#other_language_link select").val()
      }
    %select{:onchange=>"followOtherLanguageLink();"}
      %option Select Language
      - RockyConf.enabled_locales.each do |loc|
        - unless loc.to_s == I18n.locale.to_s
          %option{:value=>new_registrant_path(params.permit!.dup.to_h.deep_symbolize_keys.merge({:locale=>loc}))}
            = t('txt.registration.in_language_name', :locale=>loc)

= form_for(@registrant) do |form|
  - if @registrant.use_short_form? && !@registrant.new_record?
    #other_language_link
      = form.select :new_locale, RockyConf.enabled_locales.collect {|loc| [t('txt.registration.in_language_name', :locale=>loc), loc]}, {selected: @registrant.locale}, onchange: "$(this.form).find('input[name=skip_advance]').val(true); $(this.form).submit()"
      = form.hidden_field :locale, :value=>@registrant.locale      
      = hidden_field_tag 'skip_advance', false

  = render :partial => 'form', :object => form
  %p= I18n.t('txt.privacy_policy_acceptance').html_safe

  - if !@registrant.use_short_form?
    %p
      = I18n.t('txt.registration.instructions.online').html_safe
    %p  
      = I18n.t('txt.registration.instructions.overseas').html_safe
    = rollover_button(:next_step, I18n.t('txt.button.submit').html_safe)
    
    
- if @registrant.use_short_form?
  %p.overseas-instructions
    = I18n.t('txt.registration.instructions.online').html_safe
    %br
    %br
    = I18n.t('txt.registration.instructions.overseas').html_safe
  %p.already-registered= I18n.t('txt.registration.already_registered', url: ( "/share?partner=#{@registrant.partner_id}&registrant_finish_iframe_url=#{CGI.escape(@registrant.finish_iframe_url)}")).html_safe
  

