- if @registrant && (@canvassing_shift || @registrant.canvassing_shift)
  - if (@registrant.is_a?(Registrant) ? @registrant.complete? : @registrant.registrant.complete?)
    #canvasser-notice.canvasser.canvasser--complete-registrant
      = "This registration was completed with canvasser #{(@canvassing_shift || @registrant.canvassing_shift).canvasser_name}."
      - if @canvassing_shift
        %a= link_to "Return to see Shift Status.", canvassing_shifts_path
    
  - else
    #canvasser-notice.canvasser
      = "This registration is being conducted by canvasser #{(@canvassing_shift || @registrant.canvassing_shift).canvasser_name}."
      