- if @use_newui2020 
  = render partial: 'state_registrants/va/step_3_mobile_newui2020' 
- else
  - content_for :head do
    :javascript
      $(document).ready(function() {
        $('#javascript_disabled').remove();
        
        function toggleSsn() {
          if ($("#state_registrants_va_registrant_confirm_no_ssn:checked").length > 0 ) {
            $(".registrant-form__ssn__line").hide();
          } else {
            $(".registrant-form__ssn__line").show();
          }
        }        
        $("#state_registrants_va_registrant_confirm_no_ssn").click(toggleSsn)
        toggleSsn();      

        function toggleDln() {
          if ($("#state_registrants_va_registrant_confirm_no_dln:checked").length > 0 ) {
            $(".registrant-form__dln__line").hide();
          } else {
            $(".registrant-form__dln__line").show();
          }
        }        
        $("#state_registrants_va_registrant_confirm_no_dln").click(toggleDln)
        toggleDln();      
        

        
      });


  = form_for(@registrant, url: update_state_registrant_path(@registrant.to_param, controller.current_state)) do |form|
    = render partial: 'state_registrants/locale_selector', locals: {form: form }
    = render partial: 'state_registrants/header_mobile', locals: {percentage: 80}
    
    .declaration-text= t('states.custom.va.privacy_notice').html_safe
    
    = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_affirm_privacy_notice, class_name: "registrant-form__confirm-affirm-privacy-notice__line", required: true}
      

    %fieldset#ssn_set
      %ul.flat.ssn
        = field_li(form, :ssn, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__ssn__line"}, field_options: {type: :password, size: 11, maxlength: 11} })
        
      = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_no_ssn, class_name: "registrant-form__no-ssn__line", required: false}
      
    %fieldset#dln-set
      %ul.flat.dln
        = field_li(form, :dln, {skip_tooltip: true, required: true, li_options: {class: "registrant-form__dln__line"}, field_options: {size: 12, maxlength: 11} })
      
      = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_no_dln, class_name: "registrant-form__no-ssn__line", required: false}
      
    .dynamic-navigation
      -# .back only shown when first step, .prepare only shown when last step
      .back.back--link
        .button.rollover_button
          = link_to update_state_registrant_path(@registrant.to_param, controller.prev_step) do
            %button{type: "button"}
              %span <

      .next.next--link.prepare
        = rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) 
    
      
