= form_for(@registrant, url: update_state_registrant_path(controller.current_state, @registrant.to_param)) do |form|
  = render partial: 'state_registrants/locale_selector', locals: {form: form }
  = render partial: 'state_registrants/va/header'
  .declaration-text= t('states.custom.va.voter_fraud_warning').html_safe
    
  = render partial: 'registrants/generic/checkbox', locals: {form: form, field: :confirm_voter_fraud_warning, class_name: "registrant-form__confirm-voter-fraud-warning__line", required: true}
  

  = rollover_button(:next_step, I18n.t('txt.button.state_online_registration', :state=>@registrant.home_state_abbrev))
  .back    
    = link_to t('txt.button.back').html_safe, update_state_registrant_path(controller.prev_step, @registrant.to_param)