<%= hidden_field_tag "partner", @partner_id %>

<% content_for :head do %>
<script>
$(document).ready(function() {
  $('#registrant_javascript_disabled').remove();
});
</script>
<% end %>
<%= form.hidden_field :phone_type %>
<%= form.hidden_field :tracking_source %>
<%= form.hidden_field :tracking_id %>
<%= form.hidden_field :state_id %>

<fieldset>
  <legend><span><%= I18n.t('txt.registration.name') %></span></legend>
  <ul class="stacked">
    
    <li class="width_b registrant-form__first-name__line">
      <h3><%= form.label :first %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :first,  required: true %>
      <span class="error"><%= form.object.errors[:first].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__last-name__line">
      <h3><%= form.label :last %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :last, required: true %>
      <span class="error"><%= form.object.errors[:last].join("\n") %></span>
    </li>
  </ul>
</fieldset>

<fieldset>
  <ul class="flat">
    <%= render :partial=> "registrants/date_of_birth", :locals=>{:form=>form, skip_tooltip: true} %>
  </ul>
</fieldset>


<fieldset>
  <legend><span><%= I18n.t('txt.registration.home_address') %></span></legend>
  <ul class="stacked">
    <li class="width_a registrant-form__home-address-__line">
      <h3><%= form.label :address %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :address, required: true %>
      <span class="error"><%= form.object.errors[:address].join("\n") %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a registrant-form__home-city__line">
      <h3><%= form.label :city %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :city, required: true %>
      <span class="error"><%= form.object.errors[:city].join("\n") %></span>
    </li>
    <li class="width_c registrant-form__home-zip-code__line">
      <h3><%= form.label :zip %><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span></h3>
      <%= field_div form, :zip, {:size => 8, required: true} %>
      <span class="error"><%= form.object.errors[:zip].join("\n") %></span>
    </li>
  </ul>  
</fieldset>


<fieldset>
  <legend><span><%= I18n.t('txt.registration.contact_information') %></span></legend>

  <ul class="stacked ">
    <li class="width_f registrant-form__email__line">
      <h3 class='registrant-form__email__line__label'><%= form.label :email %><%- unless !@alert_request.require_email_address?%><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span><%- end%></h3>
      
      <%= field_div form, :email, {class: 'registrant-form__email__line__input', required: @alert_request.require_email_address? } %>
      <span class="error registrant-form__email__line__error"><%= form.object.errors[:email].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__phone__line">
      <h3><%= form.label :phone %></h3>
      <div class="flat-stack">
        <%= field_div form, :phone, placeholder: '###-###-####' %>
        <span class="error"><%= form.object.errors[:phone].join("\n") %></span>
      </div>
    </li>
  </ul>
  <div>
    <%= I18n.t('txt.alert_request.step_1_consent') %>
  </div>
  <%#= render :partial=> "registrants/email_opt_ins", :locals=>{:form=>form} %>
  <%#= render :partial=> "registrants/phone_opt_ins", :locals=>{:form=>form} %>
</fieldset>
<fieldset class='no_border'>
  <%= render :partial=> "registrants/survey_and_volunteer", locals: { form: form } %>
</fieldset>
<%= rollover_button(:next_step, I18n.t('txt.alert_request.sign_up').html_safe) %>



