- tooltip ||= nil
- field_label ||= nil
%ul.checkbox.checkbox-step-1
  %li.spacer= "&nbsp;".html_safe
  %li{:class=>"#{class_name} #{required ? 'registrant-form__required-checkbox' : ''}"}
    %h3
      = form.check_box field 
      = form.label field, field_label || form.object.class.human_attribute_name(field).html_safe
      
      - if required
        %span.required *
      - if tooltip
        = tooltip_tag(tooltip)
      %span.error= form.object.errors[field].join("\n")
