- tooltip ||= nil
- field_label ||= nil
- class_name ||= ''
- require_accepted ||= false
- if require_accepted
  - require_accepted_message ||= require_accept_message_for(form.object, field)

%li{:class=>"#{class_name} #{required ? 'registrant-form__required-checkbox' : ''}"}
  %h3
    = form.check_box field, require_accepted ? {data: {"client-validation-require-accept".to_sym => require_accepted_message}} : {}
    = form.label field, "#{(field_label || form.object.class.human_attribute_name(field).html_safe)}#{required ? "<span class='required'>*<span class='required--text' style='display:none;'>#{I18n.t('required')}</span></span>" : ''}".html_safe
    - if tooltip
      = tooltip_tag(tooltip)
  %span.error= form.object.errors[field].join("\n").html_safe
