%h1{role: "heading", "aria-level": 1}
  Users Enabled for
  = @partner.organization

%p 
  The following users have access to 
  = "#{@partner.organization}."
  You can add or remove users at any time.
%p 
  Removing a user will cause them to lose access to
  = "#{@partner.organization}."
  It will not deactivate their account with Rock the Vote. 

%ul
  - @users.each do |user|
    %li{style: user.active ? '' : 'opacity: 0.75'}
      = user.name
      = "<#{user.email}>"
      = "(you)" if user == current_user
      = "(inactive)" unless user.active
      - unless user === current_user
        = link_to "remove from #{@partner.organization}", partner_partner_user_path(@partner, user), method: :delete

%br
%br
%h2{role: "heading", "aria-level": 2} Add user by email:
= form_tag partner_partner_users_path do
  %ul.stacked
    %li.width_a
      %h3= label_tag "Email Address"
      %div= text_field_tag "email"

  = partner_rollover_button("Add", "add")
