- if requests.any?
  - confirmation = "Are you sure you want to update partner's branding?"
  - reject_confirmation = "Are you sure you want to reject partner's request?"
  %table
    %thead
      %tr
        %th Date
        %th ID
        %th Name
        %th Organization
        %th E-Mail
        %th Assets
        %th Preview
        %th
        %th
        %th
    %tbody
    - requests.each do |request|
      - p = request.partner
      %tr
        %td= request.date
        %td= link_to p.id, admin_partner_path(p)
        %td= h p.name
        %td= h p.organization
        %td= mail_to p.email, p.email
        %td
          - p.folder.list_named_urls.sort_by(&:first).each do |pair|
            = link_to pair[0], pair[1]
            %br
        %td
          = link_to "Preview", p.preview_custom_assets_link, target: '_blank'
        - if request.open?
          %td
            = link_to "Review Emails", edit_admin_partner_path(p, anchor: 'emails')
          %td
            = link_to "Approve", { action: "approve_request", partner_id: p.id }, method: :POST, confirm: confirmation
          %td= link_to "Reject", { action: "reject_request", partner_id: p.id }, method: :POST, confirm: reject_confirmation
        - else
          %td
          %td
          %td
- else
  %p No requests found