%h1
  Edit
  = @geo_state.name
  Settings

%h2
  = link_to "View Zipcode Addresses", zip_codes_admin_geo_state_path(@geo_state)

= form_for [:admin, @geo_state] do |f|
  %fieldset 
    %legend Absentee Ballot Request Configuration
    %ul.stacked
      = field_li f, :abr_online_req_url, {li_options: {class: 'full-width'}, skip_tooltip: true}
      %li.full-width= @geo_state.state_customization.abr_settings.online_req_url
    %ul.stacked
      = field_li f, :abr_status_check_url, {li_options: {class: 'full-width'}, skip_tooltip: true}
      %li.full-width= @geo_state.state_customization.abr_settings.abr_status_check_url
    %ul.stacked
      = field_li f, :abr_track_ballot_url, {li_options: {class: 'full-width'}, skip_tooltip: true}
      %li.full-width= @geo_state.state_customization.abr_settings.abr_track_ballot_url
    %ul.stacked
      = field_li f, :leo_lookup_url, {li_options: {class: 'full-width'}, skip_tooltip: true}
      %li.full-width= @geo_state.state_customization.abr_settings.leo_lookup_url
      
  
  %fieldset 
    %legend Direct Mail Configuration
    %ul.stacked.flat
      = field_li f, :enable_direct_mail, {li_options: {class: 'full-width'}, skip_tooltip: true, field_options: {kind: :checkbox}}
      = field_li f, :allow_desktop_signature, {li_options: {class: 'full-width'}, skip_tooltip: true, field_options: {kind: :checkbox}}
    %ul
      = field_li f, :state_voter_check_url, {li_options: {class: 'full-width'}, skip_tooltip: true}

    %br
    %br
    %h4 Direct Mail Partners
    %ul.stacked
      - @geo_state.direct_mail_partners.sort {|p1, p2| p2.organization<=>p1.organization }.each do |p|
        %li
          %div{style: "height: auto; display: inline-block; padding: 5px; border: 1px solid #ddd; border-radius: 5px; background: #eee"}
            = "#{p.id}: #{p.organization}"
            &nbsp;
            = link_to 'X', remove_direct_mail_partner_id_admin_geo_state_path(@geo_state, partner_id: p.id)
    %ul
      = field_li f, :add_direct_mail_partner_id, {li_options: {class: 'full-width'}, skip_tooltip: true}

    
  = f.submit
    