:javascript
  $(document).ready(function() {
    $(".toggle-on").click(function() {
      var id = this.id;
      $("." + id + " input").each(function() {
        $(this).attr("checked", true);
      })
    })
    $(".toggle-off").click(function() {
      var id = this.id;
      $("." + id + " input").each(function() {
        $(this).attr("checked", false);
      })
    })
  })

%h1 State Configurations

= form_tag bulk_update_admin_geo_states_path, method: :post, multipart: true do
  %table.border
    %tr
      %th{style: "vertical-align: bottom"} State
      %th 
        .toggle-on#pdf_assistance_enabled{style: "cursor:pointer"} Select All
        %br
        .toggle-off#pdf_assistance_enabled{style: "cursor:pointer"} Deselect All
        %br
        PDF Assistance Enabled
      %th 
        Catalist Last Update
        %br
        = file_field_tag "catalist_update_file"
        
    - @geo_states.each do |s|
      %tr
        %td= link_to s.name, edit_admin_geo_state_path(s)
        %td.pdf_assistance_enabled
          = hidden_field_tag "pdf_assistance_enabled[#{s.abbreviation}]", "0"
          = check_box_tag "pdf_assistance_enabled[#{s.abbreviation}]", "1", s.pdf_assistance_enabled
        %td
          - if s.catalist_updated_at 
            = l(s.catalist_updated_at, format: :ymd)
            &nbsp;&nbsp;&nbsp;&nbsp;
            = (Date.today.to_date - s.catalist_updated_at).to_i
            days ago
  
  %br
  = submit_tag "Save"