%h1{role: "heading", "aria-level": 1}= t('txt.lookup.step_1_header')

.intro-message
  = t('txt.lookup.step_1_instructions').html_safe

= form_for(@lookup) do |form|
  = render partial: 'form', :object => form

  %p= I18n.t('txt.privacy_policy_acceptance').html_safe