%h2= t('txt.lookup.step_1_header')

.intro-message
  = t('txt.lookup.step_1_instructions').html_safe

= form_for(@lookup) do |form|
  = render partial: 'form', :object => form
    
  %p.overseas-instructions
    %br
    = I18n.t('txt.registration.instructions.overseas').html_safe

