%h2= t('txt.lookup.step_2_header')

.intro-message
  = t('txt.lookup.step_2_instructions').html_safe


- if @lookup.is_match?
  %p= t('txt.lookup.matched')
  = render partial: 'abrs/catalist_lookup', locals: { catalist_lookup: @lookup}
  .confirm#confirm_match
    %p= t('txt.lookup.confirm')
    = link_to t('txt.lookup.abr'), abr_catalist_lookup_path(@lookup)         
  .reject
    %p= t('txt.lookup.reject')
    = link_to t('txt.lookup.register'), registration_catalist_lookup_path(@lookup)
    %p= t('or')
    = link_to t('txt.lookup.go_back'), new_catalist_lookup_path(zip: @lookup.zip, source: @lookup.tracking_source, tracking: @lookup.tracking_id, email: @lookup.email, first_name: @lookup.first, last_name: @lookup.last, state: @lookup.state_abbrev)
    
    
- else  
  %p= t('txt.lookup.not_matched', state_abbrev: @lookup.state_abbrev, count: @lookup.state_last_updated_days)
  = link_to t('txt.lookup.register'), registration_catalist_lookup_path(@lookup)
  %p= t('or')
  = link_to t('txt.lookup.go_back'), new_catalist_lookup_path(zip: @lookup.zip, source: @lookup.tracking_source, tracking: @lookup.tracking_id, email: @lookup.email, first_name: @lookup.first, last_name: @lookup.last, state: @lookup.state_abbrev)
    

%p.overseas-instructions
  %br
  = I18n.t('txt.registration.instructions.overseas').html_safe

