#canvassing-shift
  = render partial: 'header'
  
  %p Welcome to Rock the Vote’s canvasser web portal. Please begin by entering your Partner ID number. This will be validated on the next page.

  %p If you are unsure of your Partner ID number, please contact your supervisor.
  
  %h2 Enter Partner ID
  %br
  = form_tag new_canvassing_shifts_path, {method: :get} do
    = text_field_tag :partner, @partner&.id
    - if @sub_orgs && @sub_orgs.any?
      %br
      %h3 Select an Organization
      %br
      = select_tag :sub_org, options_for_select(@sub_orgs.keys), include_blank: true
    = rollover_button(:next, "Next") #I18n.t('txt.button.submit').html_safe
    
  %p
    If your supervisor cannot confirm your organization's Partner ID number, please reach out to 
    %a{href: "mailto:ovrtool@rockthevote.org"} ovrtool@rockthevote.org