#canvassing-shift
  = render partial: 'header'
  %p
    Your shift has started!  Please begin sharing the unique URL created below.  As people start voter registration applications with your unique URL, the number of completed and abandoned registrations will increase.  These numbers will be updated upon refresh of this page. Registrations are considered abandoned if a registrant starts but does not complete the process after 30 minutes.
    
  %p
    %b Canvasser Shift Status:
    %br
    Shift in Progress for
    = @canvassing_shift.canvasser_name
    %br
    started at
    = I18n.l @canvassing_shift.clock_in_datetime&.in_time_zone("America/New_York"), format: :short
    EST
  %ul
    - finish_with_state_count = @canvassing_shift.registrants.where(finish_with_state: true).count
    - complete_count = @canvassing_shift.registrants.where("status = ? or finish_with_state = ?", :complete, true).count
    - api_count = @canvassing_shift.registrants.complete.find_all {|r| !r.state_transaction_id.blank? }.size
    - abandoned_count = @canvassing_shift.registrants.abandoned.where.not(status: :complete).count
    %li
      = complete_count
      registration(s) marked as compete
      %ul
        %li
          = finish_with_state_count
          registration(s) redirected to Secretary of State's website
        %li
          = complete_count - (api_count + finish_with_state_count)
          registration(s) printed out to be maiked
        %li
          = api_count
          registration(s) submitted by Secretary of State's API

    %li
      = abandoned_count
      registration(s) marked as abandoned
    %li
      = @canvassing_shift.registrants.count - (complete_count + abandoned_count)
      registration(s) in progress
  
  %p 
    Please save this URL 
    = "(#{@canvassing_shift.show_shift_url})" 
    to mark the shift as ended, submit this shift-specific information, and track our progress collectively.

  %p{style: "font-size: 20px;"}
    Share this URL for someone to start a new registration:
    %br
    %b
      = @canvassing_shift.new_registrant_url
      
  %p or
  = link_to "Start New Registration", new_registrant_path(partner: @canvassing_shift.partner_id)
  %br
  %br
  %br

  %form
    .button.rollover_button
      = link_to end_shift_canvassing_shifts_path do
        %button{type: "button"}
          %span End Shift
