<h1>Voter Registration Partner Portal Log In</h1>

<p>
  Welcome to the Partner Portal for  <%= RockyConf.sponsor.name %> civic technology tools. Please log in with your email address and password to access your Partner Portal(s).
  <!-- If you do not have a partner account yet, you can
  <%= link_to "register", new_partner_path %> to get started. //-->
</p>

<div class="login">
  <%= form_for @user_session, :url => user_session_path do |form| %>
    <fieldset>
      <legend>Log In</legend>
      <span class="error" style="white-space: unset">
        <%- if form.object.errors.any?  %>
          <p>There was a problem logging in:</p>
          <%- form.object.errors.full_messages.each do |message| %>
            <p><%= message.html_safe %></p>
          <%- end %>
          <br/>
          <br?>
          <p>
          If you had a previous partner account with this email address
          and haven't set up your new user account yet,
          use the "Forgot your password?" link to
          set a password for <%= form.object.email %>.
          </p>
        <%- end %>
      </span>

      <ul class="stacked">
        <li class="width_a">
          <h3><%= form.label :email, "Email" %></h3>
          <%= form.text_field :email %>
        </li>
      </ul>
      <ul class="stacked">
        <li class="width_a">
          <h3><%= form.label :password %></h3>
          <%= form.password_field :password, :kind => "password", :autocomplete => "off" %>
        </li>
      </ul>
      <p><%= link_to "Forgot your password?", new_password_reset_path %></p>
    </fieldset>
    <%= partner_rollover_button("login", "Log in") %>
  <% end %>
    <p>
    If you want to set up civic tech tools for a new partner organization, 
    please email 
    <%= link_to "ovrtool@rockthevote.org", "mailto:ovrtool@rockthevote.org" %>.
    <p>
</div>
