%div.whitelabeled
  Select template's language and category:
  %select#email-locale-select.template-select
    - I18n.available_locales.each do |loc|
      %option(value=loc){ (loc.to_s=='en') ? { selected: '' } : {} }= loc.upcase
  %select#email-type-select.template-select
    - EmailTemplate::EMAIL_TYPES.each do |type|
      %option(value=type){ (type == 'confirmation') ? { selected: '' } : {} }= EmailTemplate.display_name(type)
  %p.instructions
    There are five autoresponders that can be modified. Any templates that are not updated will remain intact with the default language. If you make modifications in only one language, the default templates for the other languages will remain the same.
  %p.instructions
    = link_to "Learn more about what these emails are for.", "http://wiki.rockthevote.com/index.php/Emails", target: "_BLANK"
  - EmailTemplate::TEMPLATE_NAMES.each do |name, label|
    %ul(class="stacked email-template email-template-#{name.sub(".", "--")}")
      %li.width_h
        %h3
          %label= label
        %strong= "Live: "
        = EmailTemplate.get_subject(@partner, name)
        %br
        %br
        = text_area_tag "template[#{name}]", EmailTemplate.get(@partner, name), :rows => 10, disabled: true
        %br
        %br
        %strong= "Edit: "
        %br
        %br
        = text_field_tag "template_subject[preview_#{name}]", EmailTemplate.get_subject(@partner, "preview_#{name}")
        
        %br
        = text_area_tag "template[preview_#{name}]", EmailTemplate.get(@partner, "preview_#{name}"), :rows => 20
        %br
        %br
        %strong= "Preview: "
        %br
        %p
          Save your changes to preview the result. Save empty message to load default values.
        %br
        %br
        - kind = name.split(".").first
        - locale = name.split(".").last
        - m = Notifier.preview_message(@partner, 'preview_', kind, locale)
        %strong Subject:
        = m.subject.to_s.html_safe
        %br
        %br
        %div.email-preview
          = m.body.to_s.html_safe
