%div.whitelabeled
  Select a language for editing emails:
  %select.locale-select
    - I18n.available_locales.each do |loc|
      %option(value=loc){ (loc.to_s=='en') ? { selected: '' } : {} }= loc
  - prefix ||= ""
  - EmailTemplate::TEMPLATE_NAMES.each do |name, label|
    %ul(class="stacked email-template email-template-#{ name.split('.').last }")
      %li.width_h
        %h3
          %label= label
        = text_field_tag "template_subject[#{prefix + name}]", EmailTemplate.get_subject(@partner, prefix + name), :rows => 5
        %br
        %br
        = text_area_tag "template[#{prefix + name}]", EmailTemplate.get(@partner, prefix + name), :rows => 5
