%fieldset
  %legend Partner Settings
  %ul.checkbox
    %li
      %h3
        = f.check_box :enabled_for_grommet
        = f.label :enabled_for_grommet, 'Enabled For Grommet'
        %br
        = f.label :pa_api_key
        = field_div f, :pa_api_key
        %span.error= @partner.errors[:pa_api_key].join("\n")
    %li
      %h3
        = f.check_box :enabled_for_catalist_api
        = f.label :enabled_for_catalist_api, 'Enabled For ABR Catalist Votercheck'
  %br
  %h2 States for PDF Assistance
  %p
    %span{style: "cursor:pointer", onclick: "$(\"[name='partner[states_enabled_for_pdf_assistance][]']\").attr('checked', true)"} Select All
    %span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %span{style: "cursor:pointer", onclick: "$(\"[name='partner[states_enabled_for_pdf_assistance][]']\").attr('checked', false)"} Deselect All
  %ul.checkbox
    - GeoState.all.each do |s|
      = f.hidden_field :states_enabled_for_pdf_assistance, multiple: true, value: []
      %li{style: s.pdf_assistance_enabled ? 'padding: 3px' : 'padding: 3px; background: #ccc; color: #888;'}
        %h3{style: s.pdf_assistance_enabled ? 'margin: 0; ' : 'margin: 0; background: #ccc; color: #888;'}
          = f.check_box :states_enabled_for_pdf_assistance, {multiple: true}, s.abbreviation, false
          = f.label "states_enabled_for_pdf_assistance_#{s.abbreviation.downcase}", s.name