%br
%br
%table#users
  %thead
    %tr
      %th ID
      %th Name
      %th Phone
      %th Email
      %th Impersonate
      %th Organizations
      
  %tbody
    - users.each do |user|
      %tr{class: "partner-#{user.id}"}
        %td= user.id
        %td
          = link_to user.name || user.email, edit_admin_user_path(user)
        %td= user.phone
        %td= user.email
        %td
          = link_to "Impersonate #{user.email}", impersonate_admin_user_path(user) 
        %td
          - user.partners.each do |partner|
            %span.partner-link
              = link_to partner.organization, admin_partner_path(partner)
              - if @partner && partner == @partner
                = link_to "(x)", remove_user_admin_partner_path(partner, user_id: user.id), method: :delete, data: {:confirm => "Are you sure you want to remove #{user.email} from #{partner.organization}?"}

            
        
