<fieldset>
  <legend><span><%= I18n.t('txt.registration.home_address') %></span></legend>
  <ul class="stacked">
    <li class="width_a registrant-form__home-address-number__line">
      <h3><%= form.label :street_number %><span class='required'> * </span><span class='required--text' style='display:none;'><%= I18n.t('required') %></span></h3>
      <%= field_div form, :street_number, required: true, pattern: "[0-9]*", title: "Please enter only numbers", type: "text" %>
      <span class="error"><%= form.object.errors[:street_number].join("\n") %></span>
    </li>
    <li class="width_a registrant-form__home-address-name__line">
      <h3><%= form.label :street_name %><span class='required'> * </span><span class='required--text' style='display:none;'><%= I18n.t('required') %></span></h3>
      <%= field_div form, :street_name, required: true, type: "text" %>
      <span class="error"><%= form.object.errors[:street_name].join("\n") %></span>
    </li>
    <li class="width_a registrant-form__home-unit__line">
      <h3><%= form.label :unit %></span></h3>
      <%= field_div form, :unit, required: false, type: "text" %>
      <span class="error"><%= form.object.errors[:unit].join("\n") %></span>
    </li>
  </ul>
  <ul class="stacked">
    <li class="width_a registrant-form__home-city__line">
      <h3><%= form.label :city %><span class='required'> * </span><span class='required--text' style='display:none;'><%= I18n.t('required') %></span></h3>
      <%= field_div form, :city, required: true, type: "text" %>
      <span class="error"><%= form.object.errors[:city].join("\n") %></span>
    </li>
    <li class="width_b registrant-form__home-state-abbrev__line">
      <h3><%= form.label :home_state_abbrev %><span class='required'> * </span><span class='required--text' style='display:none;'><%= I18n.t('required') %></span></h3>
      <%= field_div form, :home_state_abbrev, :disabled => true, type: "text" %>
      <span class="error"><%= form.object.errors[:home_state_name].join("\n") %></span>
    </li>
    <li class="width_c registrant-form__home-zip-code__line">
      <h3><%= form.label :zip %><span class='required'> * </span><span class='required--text' style='display:none;'><%= I18n.t('required') %></span></h3>
      <%= field_div form, :zip, {:size => 8, required: true, type: "text"} %>
      <span class="error"><%= form.object.errors[:zip].join("\n") %></span>
    </li>
  </ul>
  <%- if @abr.home_state&.counties&.any? && @abr.deliver_to_elections_office_via_email? %>
  <ul class="stacked">
    <li class="width_a registrant-form__registration-county__line">
      <h3><%= form.label :registration_county %><span class='required'> * </span><span class='required--text' style='display:none;'><%= I18n.t('required') %></span></h3>
      <%= select_div form, :registration_county, @abr.home_state.county_collection_for_select, {include_blank: true, required: true} %>
      <span class="error"><%= form.object.errors[:registration_county].join("\n") %></span>
    </li>
  </ul>
  <%- end %>
</fieldset>
