<%= hidden_field_tag "partner", @partner_id %>
<%= hidden_field_tag "source", @source %>
<%= hidden_field_tag "tracking", @tracking %>

<% content_for :head do %>
<script>
$(document).ready(function() {
  $('#registrant_javascript_disabled').remove();
});
</script>
<% end %>
<%= form.hidden_field :javascript_disabled %>

<%= render partial: 'name', locals: {form: form} %>
<ul class="flat registrant-form__email">
  <li class="width_f registrant-form__email__line">
    <h3 class='registrant-form__email__line__label'><%= form.label :email %><%- unless !@abr.require_email_address?%><span class='required'>*<span class='required--text' style='display:none;'><%= I18n.t('required') %></span></span><%- end%></h3>
    
    <%= field_div form, :email, {class: 'registrant-form__email__line__input', required: @abr.require_email_address? } %>
    <div class="tooltip registrant-form__email__line__tooltip"><%= tooltip_tag :email %></div>
    <span class="error registrant-form__email__line__error"><%= form.object.errors[:email].join("\n") %></span>
  </li>
</ul>

<%= render partial: "address", locals: {form: form} %>

<ul class="flat">
  <%= render :partial=> "registrants/date_of_birth", :locals=>{:form=>form} %>
</ul>


<%= rollover_button(:next_step, I18n.t('txt.button.submit').html_safe) %>



