- if @stop_reminders
  %h2= t('txt.abr.finish_reminder_header').html_safe
  .fulltext
    %p= t('txt.abr.finish_reminder', :first_name => @abr.first_name, :last_name=>@abr.last_name).html_safe 
    %p= t('txt.abr.finish_reminder_2').html_safe
- elsif !@share_only && @abr.deliver_to_elections_office_via_email? # Email Delivery option
  - if @abr.partner && !@abr.partner.external_conversion_snippet.blank?
    = @abr.partner.external_conversion_snippet.to_s.html_safe

  %h2= t('txt.abr.finish_via_email_header', state_name: @abr.home_state_name)

  .finish_instructions
    %ol
      %li= t('txt.abr.finish_instructions_1_email', elections_office_name: @abr.elections_office_name).html_safe
      %li= t('txt.abr.finish_instructions_2').html_safe
      .status_check
        %p= t("states.custom.#{@abr.i18n_key}.abr.status_check_instructions", default: "").html_safe
      %li= t('txt.abr.finish_instructions_3').html_safe
      -# %li= t('txt.abr.finish_instructions_4').html_safe

- elsif !@share_only && !@pdf_ready # Preparing
  %h2= t('txt.abr.finish_pdf_delay_header', state_name: @abr.home_state_name)

  = t("states.custom.#{@abr.i18n_key}.abr.finish_pdf_delay", default: t('txt.abr.finish_pdf_delay')).html_safe

  = t("states.custom.#{@abr.i18n_key}.abr.finish_pdf_delay_instructions", default: "").html_safe

- elsif !@share_only  #PDF Download 
  - if @abr.partner && !@abr.partner.external_conversion_snippet.blank?
    = @abr.partner.external_conversion_snippet.to_s.html_safe

  %h2= t('txt.abr.finish_header', state_name: @abr.home_state_name)

  .finish_instructions
    %ol
      %li
        = t('txt.abr.finish_instructions_1', registrar_address: @abr.state_registrar_address).html_safe
        - if @abr.i18n_key.downcase != 'tx'  # Check if state is not Texas
          = t("states.custom.#{@abr.i18n_key}.abr.finish_instructions_1_hint", default: t('txt.abr.finish_instructions_1_hint')).html_safe
      -# = t("states.custom.#{@abr.i18n_key}.abr.request_deadline", default: '').html_safe
      %li
        = t('txt.abr.finish_instructions_2').html_safe
        .status_check
          %p= t("states.custom.#{@abr.i18n_key}.abr.status_check_instructions", default: "").html_safe
      %li
        = t('txt.abr.finish_instructions_3').html_safe
        = t("states.custom.#{@abr.i18n_key}.abr.finish_instructions_3_hint_state", default: '').html_safe
      -# %li= t('txt.abr.finish_instructions_4').html_safe


- else #share only # Finish with State
  - if @abr.partner && !@abr.partner.external_conversion_snippet.blank?
    = @abr.partner.external_conversion_snippet.to_s.html_safe

  %h2= t('txt.abr.finish_header', state_name: @abr.home_state_name)
  .finish_instructions
    %ol
      %li
        = t('txt.abr.finish_instructions_1_state').html_safe
        = t("states.custom.#{@abr.i18n_key}.abr.finish_instructions_1_hint_state", default: t('txt.abr.finish_instructions_1_hint')).html_safe
      -# = t("states.custom.#{@abr.i18n_key}.abr.request_deadline", default: '').html_safe
      %li
        = t('txt.abr.finish_instructions_2').html_safe
        .status_check
          %p= t("states.custom.#{@abr.i18n_key}.abr.status_check_instructions", default: "").html_safe
      %li
        = t('txt.abr.finish_instructions_3').html_safe
        = t("states.custom.#{@abr.i18n_key}.abr.finish_instructions_3_hint_state", default: '').html_safe
      -# %li= t('txt.abr.finish_instructions_4').html_safe

-# #finish_page_iframe
-#   %iframe{border: '0', height: "575px", "ALLOWTRANSPARENCY": true, frameborder: "no", style: 'border:none !important; margin:0; padding:0; width:100%;', src: @abr_finish_iframe_url }

#finish_page_iframe
  - src_url = @abr_finish_iframe_url
  - existing_locale = src_url.match(/(\?|&)locale=([^&]*)/)&.captures&.last || I18n.locale
  - src_url = src_url.gsub(/(\?|&)locale=[^&]*/, '') # Remove any existing locale parameter
  - src_url += src_url.include?('?') ? "&locale=#{existing_locale}" : "?locale=#{existing_locale}" # Append the new locale
  %iframe#dynamicLocaleIframe{border: '0', height: "575px", "ALLOWTRANSPARENCY": true, frameborder: "no", style: 'border:none !important; margin:0; padding:0; width:100%;', src: src_url }

:javascript
  document.addEventListener('DOMContentLoaded', function () {
    function updateIframeLocale() {
      // Get the current URL parameters
      let urlParams = new URLSearchParams(window.location.search);
      
      // Get the locale from the URL, or fall back to the default locale
      let currentLocale = urlParams.get('locale') || "#{I18n.locale}";

      // Get the iframe element
      let iframe = document.getElementById('dynamicLocaleIframe');

      // Modify the iframe's src URL to include the correct locale
      let iframeSrc = iframe.src.replace(/(\?|&)locale=[^&]*/, '');
      iframeSrc += iframeSrc.includes('?') ? `&locale=${currentLocale}` : `?locale=${currentLocale}`;

      // Update the iframe's src attribute
      iframe.src = iframeSrc;
    }

    // Call updateIframeLocale when the page loads
    updateIframeLocale();
    
    // Listen for changes in the URL and update the iframe
    window.addEventListener('popstate', updateIframeLocale);
    window.addEventListener('pushstate', updateIframeLocale);
    window.addEventListener('replaceState', updateIframeLocale);

    // Optionally, detect when the URL changes and manually trigger an update
    var oldHref = document.location.href;

    setInterval(function() {
      if (oldHref !== document.location.href) {
        oldHref = document.location.href;
        updateIframeLocale();
      }
    }, 1000); // Check every second
  });


= render :partial => 'abrs/finish_adwords'