- if @stop_reminders
  %h2= t('txt.abr.finish_reminder_header').html_safe
  .fulltext
    %p= t('txt.abr.finish_reminder', :first_name => @abr.first_name, :last_name=>@abr.last_name).html_safe 
    %p= t('txt.abr.finish_reminder_2').html_safe
    
- elsif !@share_only && !@pdf_ready
  %h2= t('txt.abr.finish_pdf_delay_header', state_name: @abr.home_state_name)

  = t('txt.abr.finish_pdf_delay').html_safe

  = t("states.custom.#{@abr.home_state_abbrev.downcase}.abr.finish_pdf_delay_instructions", default: "").html_safe

- elsif !@share_only
  %h2= t('txt.abr.finish_header', state_name: @abr.home_state_name)

  = t('txt.abr.finish_instructions', registrar_address: @abr.state_registrar_address).html_safe

  = t("states.custom.#{@abr.home_state_abbrev.downcase}.abr.finish_instructions", default: "").html_safe

#finish_page_iframe
  %iframe{border: '0', height: "575px", "ALLOWTRANSPARENCY": true, frameborder: "no", style: 'border:none !important; margin:0; padding:0; width:100%;', src: @abr_finish_iframe_url }
  
  
= render :partial => 'abrs/finish_adwords'