
= form_for(@abr) do |form|
  - if @abr.oabr_for_all?
    %h2{"role"=>"heading", "aria-level"=>2}= t("states.custom.#{@abr.i18n_key}.state_online_abr.header", default: I18n.t('txt.abr.state_online_defaults.header', state: @abr.home_state_name))
  - else
    %h2{"role"=>"heading", "aria-level"=>2}= t("states.custom.#{@abr.i18n_key}.state_online_abr.header_choice", default: I18n.t('txt.abr.state_online_defaults.header_choice', state: @abr.home_state_name))
  .intro-message
    %p= I18n.t("states.custom.#{@abr.i18n_key}.state_online_abr.confirm", default: I18n.t('txt.abr.state_online_defaults.confirm'))
  - unless @abr.oabr_for_all?
    .intro-message.requirements= I18n.t("states.custom.#{@abr.i18n_key}.state_online_abr.requirements", default: I18n.t('txt.abr.state_online_defaults.requirements', state: @abr.home_state_name)).html_safe
      
    
  #abr_state_online_abr_section
    = I18n.t('txt.abr.state_online_defaults.instructions', state: @abr.home_state_name, default: "").html_safe
    .intro-message.state-instructions
      = I18n.t("states.custom.#{@abr.i18n_key}.state_online_abr.instructions", default: "").html_safe
    = rollover_button(:state_online_registration, t("states.custom.#{@abr.i18n_key}.state_online_abr.button", default: I18n.t('txt.button.state_online_abr', :state=>@abr.home_state_name).html_safe).html_safe, {:id=>'abr_state_online_abr',:name=>'abr_state_online_abr',:value=>'abr_state_online_abr'}) 
    :javascript
      $(document).ready(function() {
        if (!window.isFacebookApp()) {
          $("#abr_state_online_abr").attr('formtarget','_BLANK')      
        }
      });
  
      $("#abr_state_online_abr").click(function() {
        showSharing();
        return true;
      })
      function showSharing() {
        setTimeout(function(){
          //console.log("redirect!")
          if (!window.isFacebookApp()) {
            window.location.href = "#{finish_abr_path(@abr, :share_only=>true)}";
          }
        }, 1000);
      }
  - unless @abr.oabr_for_all?
    .intro-message.requirements
      = I18n.t("states.custom.#{@abr.i18n_key}.abr.skip_state_online_abr_intro", default: "").html_safe
      %p.reject
        = link_to I18n.t("states.custom.#{@abr.i18n_key}.abr.skip_state_online_abr", default: I18n.t('txt.abr.skip_state_online_abr')), step_3_abr_path(@abr)
        

  
  
    
