- abbrev = @abr.i18n_key

%h2{role: "heading", "aria-level": 2, id: "abr_splash_header_1"}= t("txt.abr.splash.header_1", state_name: @abr.home_state_name).html_safe
-# The following header is coming from: 
-# = t("txt.abr.splash.header_1", state_name: @abr.home_state_name)

.state-instructions
  - instructions_1 = t("states.custom.#{abbrev}.abr.splash.instructions_1", state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip))
  = instructions_1.html_safe

%p
  = link_to 'Request Absentee Ballot', @geo_state.state_customization.abr_settings.online_req_url, target: "_blank"

  
-# The following instructions are coming from:
-# = t("states.custom.#{abbrev}.abr.splash.instructions_1", state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip))

-#%h2{role: "heading", "aria-level": 2, id: "abr_splash_header_2"}= t("txt.abr.splash.header_2").html_safe
-# The following header is coming from: 
-# = t("txt.abr.splash.header_2")

.state-instructions
  - instructions_2 = t("states.custom.#{abbrev}.abr.splash.instructions_2", state_name: @abr.home_state_name, registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip))
  = instructions_2.html_safe
-# The following instructions are coming from:
-# = t("states.custom.#{abbrev}.abr.splash.instructions_2", state_name: @abr.home_state_name, registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip))

-# Don't Forget to Vote!
-#%h2{role: "heading", "aria-level": 2, id: "abr_splash_header_3"}= t("txt.abr.splash.header_3").html_safe
-# The following header is coming from: 
-# = t("txt.abr.splash.header_3")

.state-instructions
  - instructions_3 = t("states.custom.#{abbrev}.abr.splash.instructions_3", state_name: @abr.home_state_name, registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip))
  = instructions_3.html_safe
-# The following instructions are coming from:
-# = t("states.custom.#{abbrev}.abr.splash.instructions_3", state_name: @abr.home_state_name, registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip))


-# #finish_page_iframe
-#   %iframe{border: '0', height: "575px", "ALLOWTRANSPARENCY": true, frameborder: "no", style: 'border:none !important; margin:0; padding:0; width:100%;', src: @abr_finish_iframe_url }

#finish_page_iframe
  - src_url = @abr_finish_iframe_url
  - existing_locale = src_url.match(/(\?|&)locale=([^&]*)/)&.captures&.last || I18n.locale
  - src_url = src_url.gsub(/(\?|&)locale=[^&]*/, '') # Remove any existing locale parameter
  - src_url += src_url.include?('?') ? "&locale=#{existing_locale}" : "?locale=#{existing_locale}" # Append the new locale
  %iframe#dynamicLocaleIframe{border: '0', height: "575px", "ALLOWTRANSPARENCY": true, frameborder: "no", style: 'border:none !important; margin:40px 0 0 0; padding:0; width:100%;', src: src_url }

:javascript
  document.addEventListener('DOMContentLoaded', function () {
    function updateIframeLocale() {
      // Get the current URL parameters
      let urlParams = new URLSearchParams(window.location.search);
      
      // Get the locale from the URL, or fall back to the default locale
      let currentLocale = urlParams.get('locale') || "#{I18n.locale}";

      // Get the iframe element
      let iframe = document.getElementById('dynamicLocaleIframe');

      // Modify the iframe's src URL to include the correct locale
      let iframeSrc = iframe.src.replace(/(\?|&)locale=[^&]*/, '');
      iframeSrc += iframeSrc.includes('?') ? `&locale=${currentLocale}` : `?locale=${currentLocale}`;

      // Update the iframe's src attribute
      iframe.src = iframeSrc;
    }

    // Call updateIframeLocale when the page loads
    updateIframeLocale();
    
    // Listen for changes in the URL and update the iframe
    window.addEventListener('popstate', updateIframeLocale);
    window.addEventListener('pushstate', updateIframeLocale);
    window.addEventListener('replaceState', updateIframeLocale);

    // Optionally, detect when the URL changes and manually trigger an update
    var oldHref = document.location.href;

    setInterval(function() {
      if (oldHref !== document.location.href) {
        oldHref = document.location.href;
        updateIframeLocale();
      }
    }, 1000); // Check every second
  });

= render :partial => 'abrs/finish_adwords'