%h2{role: "heading", "aria-level": "2"}
  = t("states.custom.#{@abr.i18n_key}.abr.step_2_header", state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip), default: t('txt.abr.step_2_eligibility_header', state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip)).html_safe).html_safe

.intro-message
  = t("states.custom.#{@abr.i18n_key}.abr.step_2_instructions", state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip), default: t('txt.abr.step_2_eligibility_instructions', state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip)).html_safe).html_safe

%h2{role: "heading", "aria-level": "2"}
  = t('txt.abr.step_2_header', state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip)).html_safe

- if @abr.should_check_registration? 
  .intro-message 
    = t('txt.abr.step_2_lookup').html_safe
- else
  .intro-message 
    = t('txt.abr.step_2_instructions', state_name: @abr.home_state_name, lookup_url: new_catalist_lookup_path(partner: @abr.partner_id, email: @abr.email, zip: @abr.zip), registration_url: new_registrant_path(partner: @abr.partner, email_address: @abr.email, home_zip_code: @abr.zip)).html_safe


= form_for(@abr) do |form|
  = render partial: 'step', locals: { form: form }
  
  = render partial: 'name', locals: {form: form}
  = render partial: "address", locals: {form: form}
  

  %ul.flat
    = render :partial=> "registrants/date_of_birth", :locals=>{:form=>form, skip_tooltip: true}
  
  
  - if  @abr.home_state_allows_oabr?
    .use_state_abr
      = rollover_button(:prepare, I18n.t('txt.button.submit'))
  - else
    .skip_state_abr
      = rollover_button(:prepare, I18n.t('txt.button.submit'))

  -# .requirements
  -#   = t("states.custom.#{@abr.i18n_key}.abr.requirements", default: "").html_safe

      
  .back
    = link_to t('txt.button.back').html_safe, abr_path(@abr)
    
