- unless @abr.has_pdf_template?
  %h2{role: "heading", "aria-level": "2"}
    = t("states.custom.#{@abr.i18n_key}.abr.step_3_pending_header", default: t('txt.abr.step_3_pending_header', {state: @abr.home_state_name}))
  .intro-message
    = t("states.custom.#{@abr.i18n_key}.abr.step_3_pending_instructions", default:t('txt.abr.step_3_pending_instructions', {state: @abr.home_state_name, pdf_url: @abr.state_pdf_url})).html_safe
  %form
    %div.button.rollover_button{onclick: "window.open('#{@abr.state_pdf_url}','_blank'); window.location='#{finish_abr_path(@abr, share_only: true)}';"}
      = link_to(@abr.state_pdf_url, {rel: "noopener noreferrer", :target => "_blank", class: "button_prepare button_prepare_en"}) do
        %span.button-style{role: "button"}
          = I18n.t('txt.abr.step_3_pending_link')
      
  = render :partial => 'abrs/finish_adwords'
  
  
  
  
- else 
  %h2{role: "heading", "aria-level": "2"}= t("states.custom.#{@abr.i18n_key}.abr.step_3_header", default: t('txt.abr.step_3_header', {state: @abr.home_state_name}))
  .intro-message
    = t("states.custom.#{@abr.i18n_key}.abr.step_3_instructions", default:t('txt.abr.step_3_instructions')).html_safe
    

  = form_for(@abr) do |form|
    = render partial: 'step', locals: { form: form }

    
    .step_3_form_fields
      = render partial: "state_fields", locals: {form: form}
      :javascript
        // Zip code validation for #abr_zip_1
        $("#abr_zip_1").on("blur", function() {
          validateZipCode($(this), $("#abr_zip_1 .error"));
        });

        // Zip code validation for #abr_zip_2
        $("#abr_zip_2").on("blur", function() {
          validateZipCode($(this), $("#abr_zip_2 .error"));
        });

        // Zip code validation for #abr_zip_3
        $("#abr_zip_3").on("blur", function() {
          validateZipCode($(this), $("#abr_zip_3 .error"));
        });
        
        // Form submission event
        $("form").on("submit", function() {
          // Validate zip codes on form submission
          validateZipCode($("#abr_zip_1"), $("#abr_zip_1 .error"));
          validateZipCode($("#abr_zip_2"), $("#abr_zip_2 .error"));
          validateZipCode($("#abr_zip_3"), $("#abr_zip_3 .error"));
        });

        function validateZipCode(zipInput, errorSpan) {
          var zipCode = zipInput.val();

          if (!/^\d{5}(-\d{4})?$/.test(zipCode)) {
            errorSpan.text("Please enter a valid ZIP code.");
          } else {
            errorSpan.text("");
          }
        }

      - if @abr.collect_signature?
        - @registrant = @abr
        = render partial: 'shared/signature_capture/scripts', locals: { allow_desktop_signature: @abr.allow_desktop_signature? }
        :javascript
          function selectSignatureTypeCallback() {
            if ($("#abr_signature_method_print:checked").length > 0) {
              $("#prepare_form").show();
              $("#deliver_by_email").hide();
            } else {
              $("#prepare_form").hide();
              $("#deliver_by_email").show();
            }
          }

        = render partial: 'shared/signature_capture/form', locals: {form: form, home_state_key: "#{@abr.home_state_abbrev.downcase}.abr", allow_desktop_signature: @abr.allow_desktop_signature?, allow_print_and_sign: true}

      %ul.flat
        = render :partial=> "registrants/phone", :locals=>{:form=>form, skip_tooltip: true}

        
      = render :partial=> "registrants/phone_opt_ins", :locals=>{:form=>form}
      = render :partial=> "registrants/email_opt_ins", :locals=>{:form=>form}
      
      - if @abr.collect_signature?
        #deliver_by_email
          %br
          %br
          %h2
            %strong= t('txt.abr.step_3_deliver_via_email_header')
          %p{style: "font-size: 16px; margin-top: 1em; line-height: 1.5em"}
            = t('txt.abr.review.name')
            %strong{style: "font-weight: bold"}= @abr.full_name
            %br
            = t('txt.abr.review.email')
            %strong{style: "font-weight: bold"}= @abr.email
          %p{style: "font-size: 16px; margin-top: 1em; line-height: 1.5em"}
            = t('txt.abr.review.address')
            %br
            %strong{style: "font-weight: bold"}= @abr.full_address_3_lines.gsub(/\n/, "<br/>").html_safe
            %br
            %strong{style: "font-weight: bold"}= @abr.registration_county_name
          %p{style: "font-size: 16px; margin-top: 1em; line-height: 1.5em"}
            = t('txt.abr.review.date_of_birth')
            %strong{style: "font-weight: bold"}= I18n.l @abr.date_of_birth, format: :long
            
          .declaration-text{style: "font-weight: bold; text-align: center"}
            =  t("states.custom.#{@abr.i18n_key}.abr.step_3_deliver_via_email_instructions", default: t('txt.abr.step_3_deliver_via_email_instructions')).html_safe
          - confirm_label = t("states.custom.#{@abr.i18n_key}.abr.confirm_email_delivery", default: "")
          - confirm_label = nil if confirm_label.blank?
          = render partial: 'registrants/generic/checkbox', locals: {field_label: confirm_label, form: form, field: :confirm_email_delivery, class_name: "registrant-form__confirm_email_delivery__line", required: true, require_accepted: true}
          = rollover_button(:prepare, I18n.t('txt.button.deliver'), {id: "submit_deliver"})

      #prepare_form
        = rollover_button(:prepare, I18n.t('txt.button.prepare'))

    .back
      = link_to t('txt.button.back').html_safe, step_2_abr_path(@abr)
    