%h2{role: "heading", "aria-level": "2"}=t("states.custom.#{@abr.i18n_key}.abr.step_2_header", default: t('txt.abr.step_2_header').html_safe).html_safe

.intro-message
  = t("states.custom.#{@abr.i18n_key}.abr.step_2_instructions", default: t('txt.abr.step_2_instructions').html_safe).html_safe


= form_for(@abr) do |form|
  = render partial: 'step', locals: { form: form }
  
  = render partial: 'name', locals: {form: form}
  = render partial: "address", locals: {form: form}
  

  %ul.flat
    = render :partial=> "registrants/date_of_birth", :locals=>{:form=>form}
  
  
  - if  @abr.home_state_allows_oabr?
    .use_state_abr
      = rollover_button(:prepare, I18n.t('txt.button.submit'))
  - else
    .skip_state_abr
      = rollover_button(:prepare, I18n.t('txt.button.submit'))

  -# .requirements
  -#   = t("states.custom.#{@abr.i18n_key}.abr.requirements", default: "").html_safe

      
  .back
    = link_to t('txt.button.back').html_safe, abr_path(@abr)
    
