- form_name_prefix = ActiveModel::Naming.param_key(@registrant) #"state_registrants_pa_registrant"
- image_field_id = "#{form_name_prefix}_voter_signature_image"
- signature_method_id_prefix = "#{form_name_prefix}_signature_method"
- allow_desktop_signature ||= false # when desktop sig is allowed, show options as well as provide signature
- content_for :head do
  %script{src: "https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"}
  
  %script{src: "https://cdn.jsdelivr.net/npm/cropit@0.5.1/dist/jquery.cropit.min.js"}
  :javascript
    jQuery.event.addProp('dataTransfer')
    function selectSignatureTypeCallback() {
      //no-op by default
    }

    function resizeCanvas(canvas, signaturePad) {
      // When zoomed out to less than 100%, for some very strange reason,
      // some browsers report devicePixelRatio as less than 1
      // and only part of the canvas is cleared then.
      var ratio =  Math.max(window.devicePixelRatio || 1, 1);

      // This part causes the canvas to be cleared
      
      
      canvas.width = canvas.offsetWidth * ratio;
      canvas.height = canvas.offsetHeight * ratio;
      canvas.getContext("2d").scale(ratio, ratio);

      // This library does not listen for canvas changes, so after the canvas is automatically
      // cleared by the browser, SignaturePad#isEmpty might still return false, even though the
      // canvas looks empty, because the internal data of this library wasn't cleared. To make sure
      // that the state of this library is consistent with visual state of the canvas, you
      // have to clear it manually.
      signaturePad.clear();
    }
    
    function selectSignatureType() {
        if ($("##{signature_method_id_prefix}_upload:checked").length > 0) {
          var imageData = $('##{image_field_id}').val()
          $('#signature-cropper').show().cropit({
            imageState: { src:  imageData },
            freeMove: true,
            minZoom: 'fit',
            exportZoom: 0.5,
            onFileChange: showControls,
            onZoomChange: adjustSignature,
            onOffsetChange: adjustSignature,
            allowDragNDrop: false
          });    
          if (imageData != "") {
            setTimeout(showControls, 1000);
          }          
        } else {
          $('#signature-cropper').hide()

        }
        if ($("##{signature_method_id_prefix}_device:checked").length > 0) {
          $("#continue_on_device").show();
        } else {
          $("#continue_on_device").hide();
        }
        
        if ($("##{signature_method_id_prefix}_desktop:checked").length > 0) {
          $("#signature_capture").show();
        } else {
          $("#signature_capture").hide();
        }
        selectSignatureTypeCallback();
      } 

    var allowDesktopSignature = #{!!allow_desktop_signature};
    
    function registerTouch(isDesktop) {
      allowDesktopSignature = isDesktop || false;
      if (!isDesktop && top.location!= self.location) {
         top.location = self.location.href;
      }
      
      if (isDesktop) {
        selectSignatureType();   
      } else {
        selectSignatureTypeCallback();
        $("#signature_capture").show();   
        $("#signature_upload").hide();        
        $("#signature_capture").addClass("is-device")        
      }
      var canvas = $("canvas#signature_field").get(0);
      var size = screen.width / (isDesktop ? 500 : 175);
      var signaturePad = new SignaturePad(canvas, {
          minWidth: size,
          maxWidth: size,
          minDistance: size,
          dotSize: size,
          backgroundColor: "rgba(255,255,255,1)"
      });
      signaturePad.clear();
      
      if (isDesktop) {
        window.onresize = resizeCanvas.bind(this, canvas, signaturePad);
      }
      
      $(".capture-signature").click(function() {
        $("#signature_field_popup").show();
        resizeCanvas(canvas, signaturePad);
      })
      
      $(".signature_capture_insructions .cancel").click(function() {
        $("#signature_field_popup").hide();                  
      })
      
      $(".signature_done").click(function() {
        //export
        var imageData = signaturePad.toDataURL("image/jpeg");

        var img = new Image;
        img.src = imageData;
        img.onload = function() {
          var c = document.createElement('canvas');
          var ctx = c.getContext('2d')
          c.width = 180
          c.height = 60          
          ctx.drawImage(this, 0, 0, c.width, c.height);
          sizedImageData = c.toDataURL("image/jpeg");
          $("##{image_field_id}").val(sizedImageData);        
          $("#signature_preview img.preview").attr('src', sizedImageData)
          $("#signature_preview").show();
          $("#signature_field_popup").hide();
        }
      })
      
      $(".signature_clear").click(function() {
        signaturePad.clear();
        $("##{image_field_id}").val('');        
        $("#signature_preview img.preview").attr('src', null)
        $("#signature_preview").hide();
      })
      
    };
  
    function showControls() {
      $("#signature-cropper .controls").show();
      $(".select-image-btn").hide();        
      $(".cropit-preview").show();
    }
    function hideControls() {
      $("#signature-cropper .controls").hide();
      $(".select-image-btn").show();
      $(".cropit-preview").hide();                
    }
    function removeSignatureFile() {
      $('#signature-cropper .cropit-preview-image').removeAttr('src');
      $('#signature-cropper .cropit-preview-background').removeAttr('src');     
      $("##{image_field_id}").val('');
      $(".cropit-image-input").val('');        
      hideControls();
      
    }
    $("#signature-cropper .remove-image-btn").click(removeSignatureFile);
    
    function adjustSignature() {
      try {
        var imageData = $('#signature-cropper').cropit('export', {
          type: 'image/jpeg',
          quality: 1.0,
          fillBg: '#fff'
        });
        $("##{image_field_id}").val(imageData);          
        
      } catch(err) { console.error(err) }
    }
    
    
    
    function copyLink() {
      var text = $("#link-to-copy").text().trim();
      //Create hidden input
      var el = document.createElement("textarea");
      el.value = text;
      //el.style.display='none';
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy')
      document.body.removeChild(el);
      $("#link-copied").show().fadeOut(3000);
      
    }
    
    
    $(document).ready(function() {
      
      $(".copy-link").click(function() {
        copyLink();
      })
      
      $("[name='#{form_name_prefix}[signature_method]']").click(selectSignatureType)
      
      $('.select-image-btn').click(function() {
        $('.cropit-image-input').click();
      });
      
      if (allowDesktopSignature) {
        registerTouch(true);        
      }
    });