<div id="footer">
  <%- if !@registrant || @registrant.use_short_form? %>
    <div id="powered_by_logo" class="powered-by-logo">
      <span class='powered-by-text'>Powered By</span>
      <a href="<%= RockyConf.sponsor.url %>" target="_blank">
        <%= image_tag 'rock-the-vote-horz-logo-rev.png', alt: 'Rock the Vote', class: 'rtv-logo' %>
      </a>
    </div>
    <div id="powered_by_aws_logo" class="powered-by-logo">
      <%= image_tag 'powered-by-aws-logo-v3.png' %>
    </div>
  <%- end %>
  <p>
    <span><a href="<%= RockyConf.sponsor.footer_link_base_url %>/faq.html" target="_blank" title="FAQ">FAQ</a></span>
    <span><a href="<%= RockyConf.sponsor.footer_link_base_url %>/privacy.html" target="_blank" title="Privacy &amp; Security">Privacy &amp; Security</a></span>
    <span><a href="<%= RockyConf.sponsor.footer_link_base_url %>/contact.html" target="_blank" title="Contact Us">Contact Us</a></span>
    <span><a href="<%= RockyConf.sponsor.footer_link_base_url %>/about.html" target="_blank" title="About">About</a></span>
    <span class="copyright"><%= (RockyConf.sponsor.footer_copyright % Date.today.year).html_safe %></span>
  </p>
</div>
