<!DOCTYPE html>
<html lang="<%= @abr&.locale || "en" %>">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>
    <%- if @abr && @abr.home_state_abbrev %>
    <%= I18n.t('txt.request_absentee_ballot_in', state_abbrev: @abr.home_state_abbrev) %>
    <%- else%>
    <%= t 'txt.request_absentee_ballot' %>
    <%- end %>
  </title>
  
  <meta name="description" content="Secure your right to vote from the comfort and safety of your home by requesting your absentee ballot today. Our absentee voting tool makes the process simple and convenient—ensure your voice is heard in elections, no matter where you are!" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Rock the Vote - Building the Political Power of Young People" />
  <meta property="og:description" content="Request your absentee ballot now with Rock the Vote's online tool. Vote safely and conveniently from home. Empowering voters across the nation." />
  <meta property="og:image" content="https://rocky-ovr.s3.amazonaws.com/RocktheVote_Meta.png" />
  <meta property="og:image:secure_url" content="https://rocky-ovr.s3.amazonaws.com/RocktheVote_Meta.png" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="576" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Request your absentee ballot now with Rock the Vote's online tool. Vote safely and conveniently from home. Empowering voters across the nation." />
  <meta name="twitter:title" content="Rock the Vote - Building the Political Power of Young People" />
  <meta name="twitter:site" content="@rockthevote" />
  <meta name="twitter:image" content="https://rocky-ovr.s3.amazonaws.com/RocktheVote_Meta.png" />
  <meta name="twitter:creator" content="@rockthevote" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <%- unless controller.action_name == "new" %>
    <meta name="robots" content="noindex" />
  <%- end %>

  <%= stylesheet_link_tag 'jquery.qtip.min' %>
  <%= stylesheet_link_tag 'qtip-custom' %>
  <%= stylesheet_link_tag 'select2.min' %>
  <%= stylesheet_link_tag *partner_css %>
  <%- unless @partner&.partner2_css_present? && @partner&.whitelabeled %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'registration3' %>
  <%- end %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      <%- if @abr && @abr.persisted? %>
        trackView("<%= track_view_abr_path(@abr) %>", "<%= params["controller"] %>", "<%= params["action"] %>");
      <%- end %>
      
      hideErrors();
      setTimeout('revealErrors();', 400);
    });
  </script>

  <%- if @abr && @abr.state_custom_javascript? %>
    <%= javascript_include_tag "abr_states/#{@abr.home_state_abbrev.to_s.downcase}.js" %>
  <%- end %> 

  <%= yield :head %>
<%= render :partial => 'layouts/weglot', locals: { show_additional_js: false } %>
</head>

<body class="abr-page <%= 'not-landing' if @abr && @abr.home_state_abbrev %> <%= 'primary-partner' if @partner && @partner.primary? %> <%= 'new-mobile-ui' if @use_mobile_ui %>">
  <%- if @partner && !@partner.external_tracking_snippet.blank? %>
  <%= @partner.external_tracking_snippet.to_s.html_safe %>
  <%- end %>
  <%-# render 'shared/canvasser_notice' %>
  <div id="container">
    <% if @partner && @partner.custom_logo? -%>
      <div id="header" class="partner" style="background-image: url('<%= @partner.header_logo_url %>')">
      <span role="img" aria-label="<%="#{@partner.organization} logo" %>"> </span>
    <% else -%>
      <div id="header">
        <span role="img" aria-label="Rock the Vote logo"> </span>      
        <% end -%>
        <h1 role="heading" aria-level="1" class='header-text'>
          <%- if @abr && @abr.home_state_abbrev %>
          <%= I18n.t('txt.request_absentee_ballot_in', state_abbrev: @abr.home_state_abbrev) %>
          <%- else%>
          <%= t 'txt.request_absentee_ballot' %>
          <%- end %>
        </h1>
        <div id="progress-bar">
          <ol>
            <li class="progress-title"><%= t('txt.registration.progress_indicator').html_safe %></li>
            <%= progress_indicator(@num_steps).html_safe %>
          </ol>
        </div>
      </div>

      <div id="main" class="abr">
        <div id="main_inner" class="step_<%= controller.current_step %>">
          <%= flash_messages.html_safe %>

          <%= yield %>
        </div>
      </div>

    </div>
    <div id="sticky_footer">
      <%= render :partial => 'layouts/footer' %>
    </div>


    <%= render :partial => 'layouts/urchin' %>
    <%= javascript_include_tag "iframeResizer.contentWindow.min" %>
    <script>
      var ls = window.localStorage
      window.IS_TOUCH_ENABLED = false;
      if (ls && ls.getItem('IS_TOUCH_ENABLED')) {
        window.IS_TOUCH_ENABLED = true;
        window.registerTouch();
      } else {
        window.addEventListener('touchstart', function onFirstTouch() {
          // or set some global variable
          window.IS_TOUCH_ENABLED = true;
          if (ls) {
            ls.setItem('IS_TOUCH_ENABLED', true);
          }
          window.registerTouch();
          // we only need to know once that a human touched the screen, so we can stop listening now
          window.removeEventListener('touchstart', onFirstTouch, false);
        }, false);
      }
    </script>

  <% if @partner&.partner2_css_present? && @partner&.whitelabeled %>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Caveat:400', 'Fira Sans:400,700,700i']
      }
    });
  </script>
  <% end %>
</body>

</html>